﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Data Visualisation Doughnut - Data Visualisation Doughnut styles
*/

/*------------------------------------*\
    $DATA VISUALISATION DOUGHNUT
\*------------------------------------*/


@keyframes doughnut {
    0% {
        stroke-dasharray: 1, 99;
    }

    100% {
        stroke-dasharray: var(--dashArray);
    }
}

.c-data-vis-doughnut {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &__svg {
        height: 130px;
        margin: 0 auto;
        width: 100%;
    }

    &--blue {
        .c-data-vis-doughnut__ring-border {
            stroke: $gmc-data-vis-blue--light;
        }

        .c-data-vis-doughnut__gradient {
            &--offset-0 {
                stop-color: $gmc-data-vis-blue;
            }

            &--offset-1 {
                stop-color: $gmc-data-vis-blue--light;
            }
        }
    }

    &--dark-blue {
        .c-data-vis-doughnut__ring-border {
            stroke: $gmc-data-vis-dark-blue--light;
        }

        .c-data-vis-doughnut__gradient {
            &--offset-0 {
                stop-color: $gmc-data-vis-dark-blue;
            }

            &--offset-1 {
                stop-color: $gmc-data-vis-dark-blue--light;
            }
        }
    }

    &--purple {
        .c-data-vis-doughnut__ring-border {
            stroke: $gmc-data-vis-purple--light;
        }

        .c-data-vis-doughnut__gradient {
            &--offset-0 {
                stop-color: $gmc-data-vis-purple;
            }

            &--offset-1 {
                stop-color: $gmc-data-vis-purple--light;
            }
        }
    }

    &--turquoise {
        .c-data-vis-doughnut__ring-border {
            stroke: $gmc-data-vis-turquoise--light;
        }

        .c-data-vis-doughnut__gradient {
            &--offset-0 {
                stop-color: $gmc-data-vis-turquoise;
            }

            &--offset-1 {
                stop-color: $gmc-data-vis-turquoise--light;
            }
        }
    }

    &--animate {
        .c-data-vis-doughnut__segment {
            animation: doughnut 3s;
        }
    }

    &__ring {
        fill: transparent;
        stroke: $gmc-dataVisDoughnut-ring-stroke-colour;
        stroke-width: 5px;

        &-border {
            fill: transparent;
            stroke: $gmc-data-vis-orange--light;
            stroke-width: 5.4px;
        }
    }

    &__segment {
        fill: transparent;
        stroke-width: 5px;
        transform-origin: center;
    }

    &__gradient {
        &--offset-0 {
            stop-color: $gmc-data-vis-orange;
        }

        &--offset-1 {
            stop-color: $gmc-data-vis-orange--light;
        }
    }

    &__percent {
        &-value {
            font-size: .45rem;
            font-weight: 500;
            text-anchor: middle;
        }

        &-symbol {
            font-size: .27rem;
            font-weight: $gmc-global-normal-font-weight;
        }
    }

    &__hole {
        fill: $gmc-dataVisDoughnut-hole-fill-colour;
    }

    &__text {
        fill: $gmc-dataVisDoughnut-text-fill-colour;
        text-align: center;
    }

    &__label {
        @include font-size-xxxs();
        max-width: 130px;
        padding: $gmc-spacing-4 $gmc-spacing-1 0 $gmc-spacing-1;
        text-align: center;
    }
}





