﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/

/*
    ALERTBANNER  - styles for information alert banner
*/

/*------------------------------------*\
    $ALERTBANNER
\*------------------------------------*/

.c-alert-banner {
    padding: $gmc-spacing-2 $gmc-spacing-3;

    &--error {
        background-color: $gmc-alertBanner-error-background-colour;
        color: $gmc-alertBanner-error-text-colour;

        .c-alert-banner__alert-date {
            @include mq($from: medium) {
                border-right: 1px solid $gmc-alertBanner-error-divider-colour;
            }
        }

        .c-alert-banner__alert-message {
            a:link {
                color: $gmc-alertBanner-error-link-colour;
            }

            a:visited {
                color: $gmc-alertBanner-error-link-colour;
            }

            a:hover {
                color: $gmc-alertBanner-error-link-colour;
            }
        }
    }

    &--information {
        background-color: $gmc-alertBanner-information-background-colour;
        color: $gmc-alertBanner-information-text-colour;

        .c-alert-banner__alert-date {
            @include mq($from: medium) {
                border-right: 1px solid $gmc-alertBanner-information-divider-colour;
            }
        }

        .c-alert-banner__alert-message {
            a:link {
                color: $gmc-alertBanner-information-link-colour;
                text-decoration: underline;
            }

            a:visited {
                color: $gmc-alertBanner-information-link-colour;
                text-decoration: underline;
            }

            a:hover {
                color: $gmc-alertBanner-information-link-colour;
                text-decoration: none;
            }
        }
    }

    &--success {
        background-color: $gmc-alertBanner-success-background-colour;
        color: $gmc-alertBanner-success-text-colour;

        .c-alert-banner__alert-date {
            @include mq($from: medium) {
                border-right: 1px solid $gmc-alertBanner-success-divider-colour;
            }
        }

        .c-alert-banner__alert-message {
            a:link {
                color: $gmc-alertBanner-success-link-colour;
                text-decoration: underline;
            }

            a:visited {
                color: $gmc-alertBanner-success-link-colour;
                text-decoration: underline;
            }

            a:hover {
                color: $gmc-alertBanner-success-link-colour;
                text-decoration: none;
            }
        }
    }

    &--warning {
        background-color: $gmc-alertBanner-warning-background-colour;
        color: $gmc-alertBanner-warning-text-colour;

        .c-alert-banner__alert-date {
            @include mq($from: medium) {
                border-right: 1px solid $gmc-alertBanner-warning-divider-colour;
            }
        }

        .c-alert-banner__alert-message {
            a:link {
                color: $gmc-alertBanner-warning-link-colour;
            }

            a:visited {
                color: $gmc-alertBanner-warning-link-colour;
            }

            a:hover {
                color: $gmc-alertBanner-warning-link-colour;
            }
        }
    }

    &__content {
        align-items: initial;
        display: flex;
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: auto;
        max-width: $content-max-width;
    }

    &__alert-icon {
        @include font-style(20px);
        width: 30px;

        @include mq($from: medium) {
            @include font-style(25px);
            margin-right: $gmc-spacing-3;
            width: inherit;
        }

        &--warning:before {
            display: block;
            margin-top: 2px;
        }
    }

    &__alert-date {
        flex-shrink: 0;
        @include font-style(14px, 22px);
        font-weight: $gmc-alertBanner-date-font-weight;
        padding-right: 0;

        @include mq($from: medium) {
            @include font-style(16px, 28px);
            padding-right: $gmc-spacing-3;
        }
    }

    &__alert-message {
        margin: 0;
        padding-left: 0;
        width: 100%;

        p {
            @include font-size-xxs();
            margin: 0;

            @include mq($from: medium) {
                @include font-style(16px, 28px);
                width: auto;
            }
        }
    }

    &-with-date {
        .c-alert-banner__content {
            align-items: center;
            flex-wrap: wrap;

            @include mq($from: medium) {
                flex-wrap: nowrap;
            }
        }

        .c-alert-banner__alert-message {
            padding-left: $gmc-spacing-6;

            @include mq($from: medium) {
                padding: 0 $gmc-spacing-3;
            }
        }
    }
}
