﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    MIXINS      - Contains mixins to be used for fonts on project, headings etc.
*/

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
@mixin Headings {
    font-family: $font-primary;
    font-weight: $brand-headings-weight;
}