﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    MPTS Global Trumps - MPTS global variable overrides

    Page - Page variable overrides
    Hero Button - Variables for the button inside the header component
    Cookie Banner - Variables for the cookie banner
*/


/*------------------------------------*\
    $PAGE
\*------------------------------------*/

$body-display: flex;
$main-padding-top: 115px;

/*------------------------------------*\
    $COOKIE BANNER
\*------------------------------------*/
$gmc-cookieBanner-heading-font-weight: 700;