﻿@import '../../global/settings/_settings.colors';

/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    GMC DESIGN SYSTEM COLOURS (MPTS)  - MPTS colour variables (updated)
    GLOBAL TEXT COLOURS               - Global text colour variables used within MPTS (updated)
    GLOBAL LINK COLOURS               - Global link colour variables used within MPTS (updated)
    BREADCRUMB                        - Colours for breadcrumb component (updated)
    BUTTONS                           - Colours for MPTS button components (updated)
    DOCUMENTSTATUS                    - Colours for the document status component (updated)
    HIGHLIGHTED AREA                  - Colours for highlighted area (updated)
    LINKS                             - Colours for MPTS links (updated)
    STRIP                             - Colours for strip component (updated)
*/

/*------------------------------------*\
    $GMC DESIGN SYSTEM COLOURS (MPTS)
\*------------------------------------*/
$mpts-black: #1d1d1b;
$mpts-blue-grey: #353f53;
$mpts-blue-grey--light: #a8acc0;
$mpts-green: #005c53;
$mpts-green--light: #80c7bc;
$mpts-orange: #e69a1d;
$mpts-orange--light: #fdf8ef;

/*------------------------------------*\
    $GLOBAL TEXT COLOURS
\*------------------------------------*/
$gmc-primary-text-colour: $mpts-black;

/*------------------------------------*\
    $GLOBAL LINK COLOURS
\*------------------------------------*/
$gmc-primary-link-colour: $mpts-green;

/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/
$gmc-breadcrumb-text-colour: $gmc-primary-text-colour;
$gmc-breadcrumb-link-colour: $gmc-primary-link-colour;

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/*
 Primary Button colour variables
*/
$gmc-primary-button-border-colour: $mpts-green;
$gmc-primary-button-text-hover-colour: $mpts-green;
$gmc-primary-button-background-colour: $mpts-green;
$gmc-primary-button-background-hover-colour: $gmc-white;

/*
 Primary White Button colour variables
*/
$gmc-primary-white-button-text-colour: $mpts-green;
$gmc-primary-white-button-background-hover-colour: $mpts-green;

/*
 Secondary Button colour variables
*/
$gmc-secondary-button-border-colour: $mpts-green;
$gmc-secondary-button-text-colour: $mpts-green;
$gmc-secondary-button-text-hover-colour: $mpts-green;
$gmc-secondary-button-background-hover-colour: $gmc-white;
$gmc-secondary-button-text-hover-colour: $gmc-white;
$gmc-secondary-button-background-hover-colour: $mpts-green;


/*
 Light Button colour variables
*/
$gmc-light-button-border-colour: $mpts-green;
$gmc-light-button-border-colour-hover: $mpts-green;
$gmc-light-button-text-colour: $mpts-green;
$gmc-light-button-background-hover-colour: $gmc-white;
$gmc-light-button-background-hover-colour: $mpts-green;
$gmc-light-button-text-hover-colour: $gmc-white;

/*
Strip Button colour variables (Need to remove strip specific button and decide what button variations strip uses instead)
*/
$gmc-strip-primary-button-border-colour: $gmc-white;
$gmc-strip-primary-button-text-colour: $mpts-green;
$gmc-strip-primary-button-text-hover-colour: $gmc-white;
$gmc-strip-primary-button-background-colour: $gmc-white;
$gmc-strip-primary-button-background-hover-colour: $mpts-green;
$gmc-strip-primary-button-link-text-colour: $mpts-green;
$gmc-strip-primary-button-link-text-hover-colour: $gmc-white;

$gmc-strip-light-button-border-colour: $gmc-white;
$gmc-strip-light-button-background-colour: $gmc-white;
$gmc-strip-light-button-background-hover-colour: $mpts-green;
$gmc-strip-light-button-link-text-colour: $mpts-green;
$gmc-strip-light-button-link-text-hover-colour: $gmc-white;

/*------------------------------------*\
    $DOCUMENTSTATUS
\*------------------------------------*/
$gmc-documentStatus-image-fallback-background-colour: $mpts-green;

/*------------------------------------*\
    $HIGHLIGHTED AREA
\*------------------------------------*/
$gmc-highlightedArea-background-colour: $gmc-grey--extra-light;

/*------------------------------------*\
    $LINKS
\*------------------------------------*/
$gmc-link-primary-colour: $gmc-primary-link-colour;
$gmc-link-primary-visited-colour: $gmc-primary-link-colour;
$gmc-link-primary-hover-colour: $gmc-primary-link-colour;
$gmc-link-primary-active-colour: $gmc-primary-link-colour;
$gmc-link-primary-focus-colour: $gmc-primary-link-colour;

/*------------------------------------*\
    $STRIP
\*------------------------------------*/
$gmc-strip-dark-background-colour: $mpts-blue-grey;