@import '../../global/settings/_settings.fonts';

/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    IMPORTS - Contains imports for font types
    MIXINS  - Contains scss mixins for brand fonts
    FONTS   - Custom fonts used within MPTS
*/

/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
@mixin font-primary {
    font-family: $font-primary;
    font-weight: 400; //needed for firefox, otherwise font-family gets ignored
}

@mixin font-headings {
    font-family: $font-headings;
    font-weight: 400; //needed for firefox, otherwise font-family gets ignored
}

/*------------------------------------*\
    $FONTS
\*------------------------------------*/
$font-primary: 'Lato', sans-serif;
$font-headings: 'Lato', sans-serif;

$font-button: $font-primary;
$font-weight-button: 600;