﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    HPCB Global Trumps - HPCB global variable overrides

    Font Styles      - Font style overrides
    Headings         - Varaibles for the headings
    Caption Headings - Variables for the caption heading classes
    Page             - Page variable overrides
    Header           - Dimensions for page layout
    Display          - Contains variable for display values
    Hero Button      - Variables for the button inside the header component
    Radio Button     - Variables for radio button component
    Related content  - Variables for the related content component
    Document Status  - Variables for the document status component
    Cookie Banner    - Variables for the cookie banner
*/

/*------------------------------------*\
    $FONT STYLES
\*------------------------------------*/
$gmc-global-font-family: Lato, sans-serif;
$gmc-global-normal-font-weight: 400;
$gmc-global-bold-font-weight: 500;

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
$gmc-global-heading-font-weight: $gmc-global-normal-font-weight;

/*------------------------------------*\
    $CAPTION HEADINGS
\*------------------------------------*/
$gmc-caption-heading-font-weight: $gmc-global-normal-font-weight;

/*------------------------------------*\
    $PAGE
\*------------------------------------*/
$gmc-body-display: flex;
$main-padding-top: 5rem;
$main-padding-right: 0;
$main-padding-bottom: 0;
$main-padding-left: 0;
$line-height: 1.75;

/*------------------------------------*\
    $Header
\*------------------------------------*/
$gmc-header-box-shadow: 0 2px 6px 0 rgba(222,222,222,0.5);
$gmc-header-height: auto;
$gmc-header-width: 100%;
$gmc-header-content-height: 5rem;

/*------------------------------------*\
    Display
\*------------------------------------*/
$share-tools-display: none;

/*------------------------------------*\
    $RELATED CONTENT
\*------------------------------------*/
$relatedContent-heading-weight: $gmc-global-bold-font-weight;

/*------------------------------------*\
    $Cookie Banner
\*------------------------------------*/
$gmc-cookieBanner-heading-font-weight: $gmc-global-bold-font-weight;