﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    GMC DESIGN SYSTEM COLORS (HPCB) - Custom variables used for colors within HPCB
    GLOBAL TEXT COLOURS             - Global text colour variables used within HPCB
    GLOBAL HEADINGS                 - Global heading colour variables used within HPCB
    GLOBAL BODY TEXT                - Global body text colour variable used within HPCB
    GLOBAL LINK COLOURS             - Global link colour variables used within HPCB
    BREADCRUMB                      - Colours for breadcrumb component
    BUTTONS                         - Colours for button components
    COOKIEBANNER                    - Colours for cookie banner component
    DOCUMENTSTATUS                  - Colours for the document status component
    FOOTER                          - Colours for footer component
    HERO                            - Color values for HPCB hero strip
    HIGHLIGHTED AREA                - Colours for highlighted area component
    IMAGELINKPROMO                  - Colours for the image link promo component
    LANGUAGETOGGLE                  - Colours for language toggle component
    LINKS                           - Colours for link states
    MOBILE NAV TOGGLE               - Colours for the mobile nav toggle button
    NAVIGATION                      - Colours for the nav component
    RADIOBUTTON                     - Colours for radio button component
    STRIP                           - Colours for strip component
    TABLES                          - Colours for Table component
*/

/*------------------------------------*\
    $GMC DESIGN SYSTEM COLORS (HPCB)
\*------------------------------------*/
$hpcb-black: #1d1d1b;
$hpcb-grey: #7d7d7d;
$hpcb-grey--dark: #333333;
$hpcb-purple: #4c5294;
$hpcb-purple--dark: #202344;
$hpcb-purple--light: #f8f9ff;
$hpcb-purple--mid: #e9ebff;

/*------------------------------------*\
    $GLOBAL TEXT COLOURS
\*------------------------------------*/
$gmc-primary-text-colour: $hpcb-black;
$gmc-secondary-text-colour: $hpcb-black;

/*------------------------------------*\
    $GLOBAL HEADING COLOURS
\*------------------------------------*/
$gmc-primary-heading-colour: $hpcb-black;

/*------------------------------------*\
    $GLOBAL BODY TEXT COLOUR
\*------------------------------------*/
$gmc-body-text-colour: $gmc-primary-text-colour;

/*------------------------------------*\
    $GLOBAL LINK COLOURS
\*------------------------------------*/
$gmc-primary-link-colour: $hpcb-purple;

/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/
$gmc-breadcrumb-text-colour: $hpcb-black;
$gmc-breadcrumb-link-colour: $hpcb-purple;

/*------------------------------------*\
    $BUTTON
\*------------------------------------*/
/*Primary Button colour variables*/
$gmc-primary-button-background-colour: $hpcb-purple;
$gmc-primary-button-background-hover-colour: $gmc-white;
$gmc-primary-button-border-colour: $hpcb-purple;
$gmc-primary-button-text-hover-colour: $hpcb-purple;

/*Primary White Button colour variables*/
$gmc-primary-white-button-text-colour: $hpcb-purple;
$gmc-primary-white-button-background-hover-colour: $hpcb-purple;

/*Secondary Button colour variables*/
$gmc-secondary-button-background-hover-colour: $hpcb-purple;
$gmc-secondary-button-border-hover-colour: $hpcb-purple;
$gmc-secondary-button-text-colour: $hpcb-purple;
$gmc-secondary-button-text-hover-colour: $gmc-white;

/*
 Ghost Button colour variables
*/
$gmc-ghost-button-border-hover-colour: $hpcb-purple;
$gmc-ghost-button-text-colour: $hpcb-purple;

/*Strip Button colour variables*/
$gmc-strip-primary-button-border-colour: $gmc-white;
$gmc-strip-primary-button-text-colour: $hpcb-purple;
$gmc-strip-primary-button-text-hover-colour: $gmc-white;
$gmc-strip-primary-button-background-colour: $gmc-white;
$gmc-strip-primary-button-background-hover-colour: $hpcb-purple;

$gmc-strip-secondary-button-border-colour: $gmc-white;
$gmc-strip-secondary-button-background-colour: $gmc-white;
$gmc-strip-secondary-button-background-hover-colour: $hpcb-purple;
$gmc-strip-secondary-button-text-colour: $hpcb-purple;

/*------------------------------------*\
    $COOKIEBANNER
\*------------------------------------*/
$gmc-cookieBanner-background-colour: $hpcb-purple--dark;

/*------------------------------------*\
    $DOCUMENTSTATUS
\*------------------------------------*/
$gmc-documentStatus-image-fallback-background-colour: $hpcb-purple;
$gmc-documentStatus-image-fallback-text-colour: $hpcb-purple--light;

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
$gmc-primary-footer-background-colour: $hpcb-grey--dark;

/*------------------------------------*\
    $HIGHLIGHTED AREA
\*------------------------------------*/
$gmc-highlightedArea-background-colour: $hpcb-purple--light;

/*------------------------------------*\
    $LANGUAGETOGGLE
\*------------------------------------*/
$gmc-languageToggle-header-icon-colour: $hpcb-grey;
$gmc-language-toggle-link-selected-colour: $hpcb-purple;
$gmc-language-toggle-link-background-hover-colour: $hpcb-purple--light;

/*------------------------------------*\
    $LINKS
\*------------------------------------*/
$gmc-link-primary-colour: $hpcb-purple;
$gmc-link-primary-visited-colour: $hpcb-purple;
$gmc-link-primary-hover-colour: $hpcb-purple;
$gmc-link-primary-active-colour: $hpcb-purple;
$gmc-link-primary-focus-colour: $hpcb-purple;

/*------------------------------------*\
    $MOBILE NAV TOGGLE
\*------------------------------------*/
$gmc-mobileNavToggle-colour: $hpcb-black;

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
$gmc-primaryNav-link-colour: $hpcb-black;
$gmc-primaryNav-link-hover-colour: $hpcb-purple;
$gmc-primaryNav-link-border-top-hover-colour: $hpcb-purple;
$gmc-primaryNav-link-open-border-bottom-colour: $hpcb-purple;
$gmc-primaryNav-toggle-icon-colour: $hpcb-purple;
$gmc-secondaryNav-desktop-border-top-colour: $hpcb-purple;
$gmc-secondaryNav-link-hover-colour: $hpcb-purple;
$gmc-secondaryNav-list-mobile-background-colour: $hpcb-purple--light;
$gmc-mobileNavToggle-border-colour: $hpcb-purple--mid;

/*------------------------------------*\
    $RADIO BUTTON
\*------------------------------------*/
$gmc-radioButton-inner-circle-colour: $hpcb-purple;
$gmc-radioButton-inner-circle-colour: $hpcb-purple;

/*------------------------------------*\
    $STRIP
\*------------------------------------*/
$gmc-strip-dark-background-colour: $hpcb-purple;

/*------------------------------------*\
    $TABLES
\*------------------------------------*/
$gmc-table-header-cell-background-colour: $hpcb-purple--mid;