﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    LOADINGOVERLAY - Icon stylings for the language toggle component
*/

/*------------------------------------*\
    $LOADINGOVERLAY
\*------------------------------------*/

.c-loading-overlay {
    align-items: center;
    background-color: $gmc-loadingOverlay-background-colour;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; /* IE fallback */
    z-index: 100;

    &--hide {
        display: none;
    }

    &__image {
        height: 50px;
        margin-bottom: $gmc-spacing-2;
        width: 50px;
    }

    &__loading-text {
        @include font-style(14px, 20px);
    }
}