﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    HEADINGS                    - Contains classes for different heading styles.
    CAPTION HEADINGS            - Contains classes for caption heading styles.
    PARAGRAPHS                  - Contains classes for different paragraph styles.
    FONT SIZE OVERRIDES         - Classes for the font class override styles
*/

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

.u-global-heading-xl {
    @include heading-1;
}

.u-global-heading-l {
    @include heading-2;
}

.u-global-heading-m {
    @include heading-3;
}

.u-global-heading-s {
    @include heading-4;
}

.u-global-heading-xs {
    @include heading-5;
}

.u-global-heading-xxs {
    @include heading-6;
}

p, ul, ol, span, img, a, button, hr, .c-richtext {
    + [class*="u-global-heading-"] {
        margin-top: $gmc-spacing-5;
    }
}

/*------------------------------------*\
    $CAPTION HEADINGS
\*------------------------------------*/

.u-caption-heading-xl {
    @include caption-heading-xl;
}

.u-caption-heading-l {
    @include caption-heading-l;
}

.u-caption-heading-m {
    @include caption-heading-m;
}

span[class*='u-caption-heading'], p[class*='u-caption-heading'], div[class*='u-caption-heading'] {
    + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: 0;
    }
}

/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/

.u-paragraph-lead {
    @include paragraph-lead;
}

/*------------------------------------*\
    $FONT OVERRIDES
\*------------------------------------*/
.u-font-size-xl {
    @include font-size-xl;
}

.u-font-size-l {
    @include font-size-l;
}

.u-font-size-m {
    @include font-size-m;
}

.u-font-size-s {
    @include font-size-s;
}

.u-font-size-xs {
    @include font-size-xs;
}

.u-font-size-xxs {
    @include font-size-xxs;
}

.u-font-size-xxxs {
    @include font-size-xxxs;
}