﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Vertical Spacing                 - Contains classes that apply vertical spacing
    Horizontal Spacing               - Contains classes that apply horizontal spacing
    Top Spacing                      - Contains classes that apply top spacing
    Right Spacing                    - Contains classes that apply right spacing
    Bottom Spacing                   - Contains classes that apply bottom spacing
    Left Spacing                     - Contains classes that apply left spacing
*/

/*------------------------------------*\
    $Vertical Spacing
\*------------------------------------*/

/* Vertical Margins */
.u-vertical-margin-0 {
    margin-bottom: 0;
    margin-top: 0;
}

.u-vertical-margin-1 {
    margin-bottom: $gmc-spacing-1;
    margin-top: $gmc-spacing-1;
}

.u-vertical-margin-2 {
    margin-bottom: $gmc-spacing-2;
    margin-top: $gmc-spacing-2;
}

.u-vertical-margin-3 {
    margin-bottom: $gmc-spacing-3;
    margin-top: $gmc-spacing-3;
}

.u-vertical-margin-4 {
    margin-bottom: $gmc-spacing-4;
    margin-top: $gmc-spacing-4;
}

.u-vertical-margin-5 {
    margin-bottom: $gmc-spacing-mobile-5;
    margin-top: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-5;
        margin-top: $gmc-spacing-5;
    }
}

.u-vertical-margin-6 {
    margin-bottom: $gmc-spacing-mobile-6;
    margin-top: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-6;
        margin-top: $gmc-spacing-6;
    }
}

.u-vertical-margin-7 {
    margin-bottom: $gmc-spacing-mobile-7;
    margin-top: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-7;
        margin-top: $gmc-spacing-7;
    }
}

.u-vertical-margin-8 {
    margin-bottom: $gmc-spacing-mobile-8;
    margin-top: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-8;
        margin-top: $gmc-spacing-8;
    }
}

.u-vertical-margin-9 {
    margin-bottom: $gmc-spacing-mobile-9;
    margin-top: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-9;
        margin-top: $gmc-spacing-9;
    }
}

/* Vertical Padding */
.u-vertical-padding-0 {
    padding-bottom: 0;
    padding-top: 0;
}

.u-vertical-padding-1 {
    padding-bottom: $gmc-spacing-1;
    padding-top: $gmc-spacing-1;
}

.u-vertical-padding-2 {
    padding-bottom: $gmc-spacing-2;
    padding-top: $gmc-spacing-2;
}

.u-vertical-padding-3 {
    padding-bottom: $gmc-spacing-3;
    padding-top: $gmc-spacing-3;
}

.u-vertical-padding-4 {
    padding-bottom: $gmc-spacing-4;
    padding-top: $gmc-spacing-4;
}

.u-vertical-padding-5 {
    padding-bottom: $gmc-spacing-mobile-5;
    padding-top: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        padding-bottom: $gmc-spacing-5;
        padding-top: $gmc-spacing-5;
    }
}

.u-vertical-padding-6 {
    padding-bottom: $gmc-spacing-mobile-6;
    padding-top: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        padding-bottom: $gmc-spacing-6;
        padding-top: $gmc-spacing-6;
    }
}

.u-vertical-padding-7 {
    padding-bottom: $gmc-spacing-mobile-7;
    padding-top: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        padding-bottom: $gmc-spacing-7;
        padding-top: $gmc-spacing-7;
    }
}

.u-vertical-padding-8 {
    padding-bottom: $gmc-spacing-mobile-8;
    padding-top: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        padding-bottom: $gmc-spacing-8;
        padding-top: $gmc-spacing-8;
    }
}

.u-vertical-padding-9 {
    padding-bottom: $gmc-spacing-mobile-9;
    padding-top: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        padding-bottom: $gmc-spacing-9;
        padding-top: $gmc-spacing-9;
    }
}


/*------------------------------------*\
    $Horizontal Spacing
\*------------------------------------*/

/* Horizontal Margins */
.u-horizontal-margin-0 {
    margin-left: 0;
    margin-right: 0;
}

.u-horizontal-margin-1 {
    margin-left: $gmc-spacing-1;
    margin-right: $gmc-spacing-1;
}

.u-horizontal-margin-2 {
    margin-left: $gmc-spacing-2;
    margin-right: $gmc-spacing-2;
}

.u-horizontal-margin-3 {
    margin-left: $gmc-spacing-3;
    margin-right: $gmc-spacing-3;
}

.u-horizontal-margin-4 {
    margin-left: $gmc-spacing-4;
    margin-right: $gmc-spacing-4;
}

.u-horizontal-margin-5 {
    margin-left: $gmc-spacing-mobile-5;
    margin-right: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        margin-left: $gmc-spacing-5;
        margin-right: $gmc-spacing-5;
    }
}

.u-horizontal-margin-6 {
    margin-left: $gmc-spacing-mobile-6;
    margin-right: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        margin-left: $gmc-spacing-6;
        margin-right: $gmc-spacing-6;
    }
}

.u-horizontal-margin-7 {
    margin-left: $gmc-spacing-mobile-7;
    margin-right: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        margin-left: $gmc-spacing-7;
        margin-right: $gmc-spacing-7;
    }
}

.u-horizontal-margin-8 {
    margin-left: $gmc-spacing-mobile-8;
    margin-right: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        margin-left: $gmc-spacing-8;
        margin-right: $gmc-spacing-8;
    }
}

.u-horizontal-margin-9 {
    margin-left: $gmc-spacing-mobile-9;
    margin-right: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        margin-left: $gmc-spacing-9;
        margin-right: $gmc-spacing-9;
    }
}

u-horizontal-margin-auto {
    margin-left: auto;
    margin-right: auto;
}

/* Horizontal Padding */
.u-horizontal-padding-0 {
    padding-left: 0;
    padding-right: 0;
}

.u-horizontal-padding-1 {
    padding-left: $gmc-spacing-1;
    padding-right: $gmc-spacing-1;
}

.u-horizontal-padding-2 {
    padding-left: $gmc-spacing-2;
    padding-right: $gmc-spacing-2;
}

.u-horizontal-padding-3 {
    padding-left: $gmc-spacing-3;
    padding-right: $gmc-spacing-3;
}

.u-horizontal-padding-4 {
    padding-left: $gmc-spacing-4;
    padding-right: $gmc-spacing-4;
}

.u-horizontal-padding-5 {
    padding-left: $gmc-spacing-mobile-5;
    padding-right: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        padding-left: $gmc-spacing-5;
        padding-right: $gmc-spacing-5;
    }
}

.u-horizontal-padding-6 {
    padding-left: $gmc-spacing-mobile-6;
    padding-right: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        padding-left: $gmc-spacing-6;
        padding-right: $gmc-spacing-6;
    }
}

.u-horizontal-padding-7 {
    padding-left: $gmc-spacing-mobile-7;
    padding-right: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        padding-left: $gmc-spacing-7;
        padding-right: $gmc-spacing-7;
    }
}

.u-horizontal-padding-8 {
    padding-left: $gmc-spacing-mobile-8;
    padding-right: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        padding-left: $gmc-spacing-8;
        padding-right: $gmc-spacing-8;
    }
}

.u-horizontal-padding-9 {
    padding-left: $gmc-spacing-mobile-9;
    padding-right: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        padding-left: $gmc-spacing-9;
        padding-right: $gmc-spacing-9;
    }
}


/*------------------------------------*\
    $Top Spacing
\*------------------------------------*/

/* Top Margins */
.u-top-margin-0 {
    margin-top: 0;

    &--small {
        @include mq($until: medium) {
            margin-top: 0;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-top: 0;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-top: 0;
        }
    }
}

.u-top-margin-1 {
    margin-top: $gmc-spacing-1;

    &--small {
        @include mq($until: medium) {
            margin-top: $gmc-spacing-1;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-top: $gmc-spacing-1;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-top: $gmc-spacing-1;
        }
    }
}

.u-top-margin-2 {
    margin-top: $gmc-spacing-2;

    &--small {
        @include mq($until: medium) {
            margin-top: $gmc-spacing-2;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-top: $gmc-spacing-2;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-top: $gmc-spacing-2;
        }
    }
}

.u-top-margin-3 {
    margin-top: $gmc-spacing-3;

    &--small {
        @include mq($until: medium) {
            margin-top: $gmc-spacing-3;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-top: $gmc-spacing-3;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-top: $gmc-spacing-3;
        }
    }
}

.u-top-margin-4 {
    margin-top: $gmc-spacing-4;

    &--small {
        @include mq($until: medium) {
            margin-top: $gmc-spacing-4;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-top: $gmc-spacing-4;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-top: $gmc-spacing-4;
        }
    }
}

.u-top-margin-5 {
    margin-top: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        margin-top: $gmc-spacing-5;
    }

    &--small {
        @include mq($until: medium) {
            margin-top: $gmc-spacing-mobile-5;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-top: $gmc-spacing-mobile-5;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-top: $gmc-spacing-5;
        }
    }
}

.u-top-margin-6 {
    margin-top: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        margin-top: $gmc-spacing-6;
    }

    &--small {
        @include mq($until: medium) {
            margin-top: $gmc-spacing-mobile-6;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-top: $gmc-spacing-mobile-6;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-top: $gmc-spacing-6;
        }
    }
}

.u-top-margin-7 {
    margin-top: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        margin-top: $gmc-spacing-7;
    }

    &--small {
        @include mq($until: medium) {
            margin-top: $gmc-spacing-mobile-7;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-top: $gmc-spacing-mobile-7;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-top: $gmc-spacing-7;
        }
    }
}

.u-top-margin-8 {
    margin-top: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        margin-top: $gmc-spacing-8;
    }

    &--small {
        @include mq($until: medium) {
            margin-top: $gmc-spacing-mobile-8;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-top: $gmc-spacing-mobile-8;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-top: $gmc-spacing-8;
        }
    }
}

.u-top-margin-9 {
    margin-top: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        margin-top: $gmc-spacing-9;
    }

    &--small {
        @include mq($until: medium) {
            margin-top: $gmc-spacing-mobile-9;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-top: $gmc-spacing-mobile-9;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-top: $gmc-spacing-9;
        }
    }
}

/* Top Padding */
.u-top-padding-0 {
    padding-top: 0;

    &--small {
        @include mq($until: medium) {
            padding-top: 0;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-top: 0;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-top: 0;
        }
    }
}

.u-top-padding-1 {
    padding-top: $gmc-spacing-1;

    &--small {
        @include mq($until: medium) {
            padding-top: $gmc-spacing-1;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-top: $gmc-spacing-1;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-top: $gmc-spacing-1;
        }
    }
}

.u-top-padding-2 {
    padding-top: $gmc-spacing-2;

    &--small {
        @include mq($until: medium) {
            padding-top: $gmc-spacing-2;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-top: $gmc-spacing-2;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-top: $gmc-spacing-2;
        }
    }
}

.u-top-padding-3 {
    padding-top: $gmc-spacing-3;

    &--small {
        @include mq($until: medium) {
            padding-top: $gmc-spacing-3;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-top: $gmc-spacing-3;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-top: $gmc-spacing-3;
        }
    }
}

.u-top-padding-4 {
    padding-top: $gmc-spacing-4;

    &--small {
        @include mq($until: medium) {
            padding-top: $gmc-spacing-4;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-top: $gmc-spacing-4;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-top: $gmc-spacing-4;
        }
    }
}

.u-top-padding-5 {
    padding-top: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        padding-top: $gmc-spacing-5;
    }

    &--small {
        @include mq($until: medium) {
            padding-top: $gmc-spacing-mobile-5;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-top: $gmc-spacing-mobile-5;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-top: $gmc-spacing-5;
        }
    }
}

.u-top-padding-6 {
    padding-top: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        padding-top: $gmc-spacing-6;
    }

    &--small {
        @include mq($until: medium) {
            padding-top: $gmc-spacing-mobile-6;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-top: $gmc-spacing-mobile-6;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-top: $gmc-spacing-6;
        }
    }
}

.u-top-padding-7 {
    padding-top: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        padding-top: $gmc-spacing-7;
    }

    &--small {
        @include mq($until: medium) {
            padding-top: $gmc-spacing-mobile-7;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-top: $gmc-spacing-mobile-7;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-top: $gmc-spacing-7;
        }
    }
}

.u-top-padding-8 {
    padding-top: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        padding-top: $gmc-spacing-8;
    }

    &--small {
        @include mq($until: medium) {
            padding-top: $gmc-spacing-mobile-8;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-top: $gmc-spacing-mobile-8;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-top: $gmc-spacing-8;
        }
    }
}

.u-top-padding-9 {
    padding-top: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        padding-top: $gmc-spacing-9;
    }

    &--small {
        @include mq($until: medium) {
            padding-top: $gmc-spacing-mobile-9;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-top: $gmc-spacing-mobile-9;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-top: $gmc-spacing-9;
        }
    }
}


/*------------------------------------*\
    $Right Spacing
\*------------------------------------*/

/* Right Margins */
.u-right-margin-0 {
    margin-right: 0;

    &--small {
        @include mq($until: medium) {
            margin-right: 0;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-right: 0;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-right: 0;
        }
    }
}

.u-right-margin-1 {
    margin-right: $gmc-spacing-1;

    &--small {
        @include mq($until: medium) {
            margin-right: $gmc-spacing-1;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-right: $gmc-spacing-1;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-right: $gmc-spacing-1;
        }
    }
}

.u-right-margin-2 {
    margin-right: $gmc-spacing-2;

    &--small {
        @include mq($until: medium) {
            margin-right: $gmc-spacing-2;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-right: $gmc-spacing-2;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-right: $gmc-spacing-2;
        }
    }
}

.u-right-margin-3 {
    margin-right: $gmc-spacing-3;

    &--small {
        @include mq($until: medium) {
            margin-right: $gmc-spacing-3;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-right: $gmc-spacing-3;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-right: $gmc-spacing-3;
        }
    }
}

.u-right-margin-4 {
    margin-right: $gmc-spacing-4;

    &--small {
        @include mq($until: medium) {
            margin-right: $gmc-spacing-4;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-right: $gmc-spacing-4;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-right: $gmc-spacing-4;
        }
    }
}

.u-right-margin-5 {
    margin-right: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        margin-right: $gmc-spacing-5;
    }

    &--small {
        @include mq($until: medium) {
            margin-right: $gmc-spacing-mobile-5;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-right: $gmc-spacing-mobile-5;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-right: $gmc-spacing-5;
        }
    }
}

.u-right-margin-6 {
    margin-right: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        margin-right: $gmc-spacing-6;
    }

    &--small {
        @include mq($until: medium) {
            margin-right: $gmc-spacing-mobile-6;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-right: $gmc-spacing-mobile-6;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-right: $gmc-spacing-6;
        }
    }
}

.u-right-margin-7 {
    margin-right: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        margin-right: $gmc-spacing-7;
    }

    &--small {
        @include mq($until: medium) {
            margin-right: $gmc-spacing-mobile-7;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-right: $gmc-spacing-mobile-7;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-right: $gmc-spacing-7;
        }
    }
}

.u-right-margin-8 {
    margin-right: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        margin-right: $gmc-spacing-8;
    }

    &--small {
        @include mq($until: medium) {
            margin-right: $gmc-spacing-mobile-8;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-right: $gmc-spacing-mobile-8;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-right: $gmc-spacing-8;
        }
    }
}

.u-right-margin-9 {
    margin-right: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        margin-right: $gmc-spacing-9;
    }

    &--small {
        @include mq($until: medium) {
            margin-right: $gmc-spacing-mobile-9;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-right: $gmc-spacing-mobile-9;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-right: $gmc-spacing-9;
        }
    }
}

/* Right Padding */
.u-right-padding-0 {
    padding-right: 0;

    &--small {
        @include mq($until: medium) {
            padding-right: 0;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-right: 0;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-right: 0;
        }
    }
}

.u-right-padding-1 {
    padding-right: $gmc-spacing-1;

    &--small {
        @include mq($until: medium) {
            padding-right: $gmc-spacing-1;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-right: $gmc-spacing-1;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-right: $gmc-spacing-1;
        }
    }
}

.u-right-padding-2 {
    padding-right: $gmc-spacing-2;

    &--small {
        @include mq($until: medium) {
            padding-right: $gmc-spacing-2;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-right: $gmc-spacing-2;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-right: $gmc-spacing-2;
        }
    }
}

.u-right-padding-3 {
    padding-right: $gmc-spacing-3;

    &--small {
        @include mq($until: medium) {
            padding-right: $gmc-spacing-3;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-right: $gmc-spacing-3;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-right: $gmc-spacing-3;
        }
    }
}

.u-right-padding-4 {
    padding-right: $gmc-spacing-4;

    &--small {
        @include mq($until: medium) {
            padding-right: $gmc-spacing-4;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-right: $gmc-spacing-4;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-right: $gmc-spacing-4;
        }
    }
}

.u-right-padding-5 {
    padding-right: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        padding-right: $gmc-spacing-5;
    }

    &--small {
        @include mq($until: medium) {
            padding-right: $gmc-spacing-mobile-5;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-right: $gmc-spacing-mobile-5;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-right: $gmc-spacing-5;
        }
    }
}

.u-right-padding-6 {
    padding-right: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        padding-right: $gmc-spacing-6;
    }

    &--small {
        @include mq($until: medium) {
            padding-right: $gmc-spacing-mobile-6;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-right: $gmc-spacing-mobile-6;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-right: $gmc-spacing-6;
        }
    }
}

.u-right-padding-7 {
    padding-right: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        padding-right: $gmc-spacing-7;
    }

    &--small {
        @include mq($until: medium) {
            padding-right: $gmc-spacing-mobile-7;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-right: $gmc-spacing-mobile-7;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-right: $gmc-spacing-7;
        }
    }
}

.u-right-padding-8 {
    padding-right: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        padding-right: $gmc-spacing-8;
    }

    &--small {
        @include mq($until: medium) {
            padding-right: $gmc-spacing-mobile-8;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-right: $gmc-spacing-mobile-8;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-right: $gmc-spacing-8;
        }
    }
}

.u-right-padding-9 {
    padding-right: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        padding-right: $gmc-spacing-9;
    }

    &--small {
        @include mq($until: medium) {
            padding-right: $gmc-spacing-mobile-9;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-right: $gmc-spacing-mobile-9;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-right: $gmc-spacing-9;
        }
    }
}


/*------------------------------------*\
    $Bottom Spacing
\*------------------------------------*/

/* Bottom Margins */
.u-bottom-margin-0 {
    margin-bottom: 0;

    &--small {
        @include mq($until: medium) {
            margin-bottom: 0;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-bottom: 0;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-bottom: 0;
        }
    }
}

.u-bottom-margin-1 {
    margin-bottom: $gmc-spacing-1;

    &--small {
        @include mq($until: medium) {
            margin-bottom: $gmc-spacing-1;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-bottom: $gmc-spacing-1;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-bottom: $gmc-spacing-1;
        }
    }
}

.u-bottom-margin-2 {
    margin-bottom: $gmc-spacing-2;

    &--small {
        @include mq($until: medium) {
            margin-bottom: $gmc-spacing-2;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-bottom: $gmc-spacing-2;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-bottom: $gmc-spacing-2;
        }
    }
}

.u-bottom-margin-3 {
    margin-bottom: $gmc-spacing-3;

    &--small {
        @include mq($until: medium) {
            margin-bottom: $gmc-spacing-3;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-bottom: $gmc-spacing-3;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-bottom: $gmc-spacing-3;
        }
    }
}

.u-bottom-margin-4 {
    margin-bottom: $gmc-spacing-4;

    &--small {
        @include mq($until: medium) {
            margin-bottom: $gmc-spacing-4;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-bottom: $gmc-spacing-4;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-bottom: $gmc-spacing-4;
        }
    }
}

.u-bottom-margin-5 {
    margin-bottom: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-5;
    }

    &--small {
        @include mq($until: medium) {
            margin-bottom: $gmc-spacing-mobile-5;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-bottom: $gmc-spacing-mobile-5;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-bottom: $gmc-spacing-5;
        }
    }
}

.u-bottom-margin-6 {
    margin-bottom: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-6;
    }

    &--small {
        @include mq($until: medium) {
            margin-bottom: $gmc-spacing-mobile-6;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-bottom: $gmc-spacing-mobile-6;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-bottom: $gmc-spacing-6;
        }
    }
}

.u-bottom-margin-7 {
    margin-bottom: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-7;
    }

    &--small {
        @include mq($until: medium) {
            margin-bottom: $gmc-spacing-mobile-7;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-bottom: $gmc-spacing-mobile-7;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-bottom: $gmc-spacing-7;
        }
    }
}

.u-bottom-margin-8 {
    margin-bottom: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-8;
    }

    &--small {
        @include mq($until: medium) {
            margin-bottom: $gmc-spacing-mobile-8;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-bottom: $gmc-spacing-mobile-8;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-bottom: $gmc-spacing-8;
        }
    }
}

.u-bottom-margin-9 {
    margin-bottom: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-9;
    }

    &--small {
        @include mq($until: medium) {
            margin-bottom: $gmc-spacing-mobile-9;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-bottom: $gmc-spacing-mobile-9;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-bottom: $gmc-spacing-9;
        }
    }
}

/* Bottom Padding */
.u-bottom-padding-0 {
    padding-bottom: 0;

    &--small {
        @include mq($until: medium) {
            padding-bottom: 0;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-bottom: 0;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-bottom: 0;
        }
    }
}

.u-bottom-padding-1 {
    padding-bottom: $gmc-spacing-1;

    &--small {
        @include mq($until: medium) {
            padding-bottom: $gmc-spacing-1;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-bottom: $gmc-spacing-1;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-bottom: $gmc-spacing-1;
        }
    }
}

.u-bottom-padding-2 {
    padding-bottom: $gmc-spacing-2;

    &--small {
        @include mq($until: medium) {
            padding-bottom: $gmc-spacing-2;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-bottom: $gmc-spacing-2;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-bottom: $gmc-spacing-2;
        }
    }
}

.u-bottom-padding-3 {
    padding-bottom: $gmc-spacing-3;

    &--small {
        @include mq($until: medium) {
            padding-bottom: $gmc-spacing-3;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-bottom: $gmc-spacing-3;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-bottom: $gmc-spacing-3;
        }
    }
}

.u-bottom-padding-4 {
    padding-bottom: $gmc-spacing-4;

    &--small {
        @include mq($until: medium) {
            padding-bottom: $gmc-spacing-4;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-bottom: $gmc-spacing-4;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-bottom: $gmc-spacing-4;
        }
    }
}

.u-bottom-padding-5 {
    padding-bottom: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        padding-bottom: $gmc-spacing-5;
    }

    &--small {
        @include mq($until: medium) {
            padding-bottom: $gmc-spacing-mobile-5;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-bottom: $gmc-spacing-mobile-5;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-bottom: $gmc-spacing-5;
        }
    }
}

.u-bottom-padding-6 {
    padding-bottom: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        padding-bottom: $gmc-spacing-6;
    }

    &--small {
        @include mq($until: medium) {
            padding-bottom: $gmc-spacing-mobile-6;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-bottom: $gmc-spacing-mobile-6;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-bottom: $gmc-spacing-6;
        }
    }
}

.u-bottom-padding-7 {
    padding-bottom: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        padding-bottom: $gmc-spacing-7;
    }

    &--small {
        @include mq($until: medium) {
            padding-bottom: $gmc-spacing-mobile-7;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-bottom: $gmc-spacing-mobile-7;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-bottom: $gmc-spacing-7;
        }
    }
}

.u-bottom-padding-8 {
    padding-bottom: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        padding-bottom: $gmc-spacing-8;
    }

    &--small {
        @include mq($until: medium) {
            padding-bottom: $gmc-spacing-mobile-8;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-bottom: $gmc-spacing-mobile-8;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-bottom: $gmc-spacing-8;
        }
    }
}

.u-bottom-padding-9 {
    padding-bottom: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        padding-bottom: $gmc-spacing-9;
    }

    &--small {
        @include mq($until: medium) {
            padding-bottom: $gmc-spacing-mobile-9;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-bottom: $gmc-spacing-mobile-9;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-bottom: $gmc-spacing-9;
        }
    }
}


/*------------------------------------*\
    Left Spacing
\*------------------------------------*/

/* Left Margins */
.u-left-margin-0 {
    margin-left: 0;

    &--small {
        @include mq($until: medium) {
            margin-left: 0;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-left: 0;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-left: 0;
        }
    }
}

.u-left-margin-1 {
    margin-left: $gmc-spacing-1;

    &--small {
        @include mq($until: medium) {
            margin-left: $gmc-spacing-1;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-left: $gmc-spacing-1;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-left: $gmc-spacing-1;
        }
    }
}

.u-left-margin-2 {
    margin-left: $gmc-spacing-2;

    &--small {
        @include mq($until: medium) {
            margin-left: $gmc-spacing-2;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-left: $gmc-spacing-2;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-left: $gmc-spacing-2;
        }
    }
}

.u-left-margin-3 {
    margin-left: $gmc-spacing-3;

    &--small {
        @include mq($until: medium) {
            margin-left: $gmc-spacing-3;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-left: $gmc-spacing-3;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-left: $gmc-spacing-3;
        }
    }
}

.u-left-margin-4 {
    margin-left: $gmc-spacing-4;

    &--small {
        @include mq($until: medium) {
            margin-left: $gmc-spacing-4;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-left: $gmc-spacing-4;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-left: $gmc-spacing-4;
        }
    }
}

.u-left-margin-5 {
    margin-left: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        margin-left: $gmc-spacing-5;
    }

    &--small {
        @include mq($until: medium) {
            margin-left: $gmc-spacing-mobile-5;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-left: $gmc-spacing-mobile-5;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-left: $gmc-spacing-5;
        }
    }
}

.u-left-margin-6 {
    margin-left: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        margin-left: $gmc-spacing-6;
    }

    &--small {
        @include mq($until: medium) {
            margin-left: $gmc-spacing-mobile-6;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-left: $gmc-spacing-mobile-6;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-left: $gmc-spacing-6;
        }
    }
}

.u-left-margin-7 {
    margin-left: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        margin-left: $gmc-spacing-7;
    }

    &--small {
        @include mq($until: medium) {
            margin-left: $gmc-spacing-mobile-7;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-left: $gmc-spacing-mobile-7;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-left: $gmc-spacing-7;
        }
    }
}

.u-left-margin-8 {
    margin-left: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        margin-left: $gmc-spacing-8;
    }

    &--small {
        @include mq($until: medium) {
            margin-left: $gmc-spacing-mobile-8;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-left: $gmc-spacing-mobile-8;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-left: $gmc-spacing-8;
        }
    }
}

.u-left-margin-9 {
    margin-left: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        margin-left: $gmc-spacing-9;
    }

    &--small {
        @include mq($until: medium) {
            margin-left: $gmc-spacing-mobile-9;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            margin-left: $gmc-spacing-mobile-9;
        }
    }

    &--large {
        @include mq($from: large) {
            margin-left: $gmc-spacing-9;
        }
    }
}

/* Left Padding */
.u-left-padding-0 {
    padding-left: 0;

    &--small {
        @include mq($until: medium) {
            padding-left: 0;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-left: 0;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-left: 0;
        }
    }
}

.u-left-padding-1 {
    padding-left: $gmc-spacing-1;

    &--small {
        @include mq($until: medium) {
            padding-left: $gmc-spacing-1;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-left: $gmc-spacing-1;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-left: $gmc-spacing-1;
        }
    }
}

.u-left-padding-2 {
    padding-left: $gmc-spacing-2;

    &--small {
        @include mq($until: medium) {
            padding-left: $gmc-spacing-2;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-left: $gmc-spacing-2;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-left: $gmc-spacing-2;
        }
    }
}

.u-left-padding-3 {
    padding-left: $gmc-spacing-3;

    &--small {
        @include mq($until: medium) {
            padding-left: $gmc-spacing-3;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-left: $gmc-spacing-3;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-left: $gmc-spacing-3;
        }
    }
}

.u-left-padding-4 {
    padding-left: $gmc-spacing-4;

    &--small {
        @include mq($until: medium) {
            padding-left: $gmc-spacing-4;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-left: $gmc-spacing-4;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-left: $gmc-spacing-4;
        }
    }
}

.u-left-padding-5 {
    padding-left: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        padding-left: $gmc-spacing-5;
    }

    &--small {
        @include mq($until: medium) {
            padding-left: $gmc-spacing-mobile-5;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-left: $gmc-spacing-mobile-5;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-left: $gmc-spacing-5;
        }
    }
}

.u-left-padding-6 {
    padding-left: $gmc-spacing-mobile-6;

    @include mq($from: large) {
        padding-left: $gmc-spacing-6;
    }

    &--small {
        @include mq($until: medium) {
            padding-left: $gmc-spacing-mobile-6;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-left: $gmc-spacing-mobile-6;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-left: $gmc-spacing-6;
        }
    }
}

.u-left-padding-7 {
    padding-left: $gmc-spacing-mobile-7;

    @include mq($from: large) {
        padding-left: $gmc-spacing-7;
    }

    &--small {
        @include mq($until: medium) {
            padding-left: $gmc-spacing-mobile-7;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-left: $gmc-spacing-mobile-7;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-left: $gmc-spacing-7;
        }
    }
}

.u-left-padding-8 {
    padding-left: $gmc-spacing-mobile-8;

    @include mq($from: large) {
        padding-left: $gmc-spacing-8;
    }

    &--small {
        @include mq($until: medium) {
            padding-left: $gmc-spacing-mobile-8;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-left: $gmc-spacing-mobile-8;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-left: $gmc-spacing-8;
        }
    }
}

.u-left-padding-9 {
    padding-left: $gmc-spacing-mobile-9;

    @include mq($from: large) {
        padding-left: $gmc-spacing-9;
    }

    &--small {
        @include mq($until: medium) {
            padding-left: $gmc-spacing-mobile-9;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            padding-left: $gmc-spacing-mobile-9;
        }
    }

    &--large {
        @include mq($from: large) {
            padding-left: $gmc-spacing-9;
        }
    }
}
