﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    u-custom-scroll  - custom scroll bar styles
    Scroll Overrides - override classes for scroll functionality
    fontstyles       - custom font styles
    text alignment   - text alignment utility classes
    visibility       - visibility utility classes
    position         - position utility classes
*/

/*------------------------------------*\
    $CUSTOM SCROLL
\*------------------------------------*/
.u-custom-scroll {
    &::-webkit-scrollbar {
        border-right: none;
        width: $custom-scroll-scrollbar-width;
    }

    &::-webkit-scrollbar-track {
        border-radius: $custom-scroll-border-radius;
        width: $custom-scroll-track-width;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gmc-custom-scroll-thumb-background-colour;
        border-radius: $custom-scroll-border-radius;
        width: $custom-scroll-thumb-width;
    }

    &--light {
        &::-webkit-scrollbar-thumb {
            background-color: $gmc-custom-scroll-light-background-colour;
        }
    }

    &--track {
        &::-webkit-scrollbar-track {
            background-color: $gmc-custom-scroll-track-background-colour;
        }
    }
}

/*------------------------------------*\
    $SCROLL OVERRIDES
\*------------------------------------*/
.u-no-scroll {
    overflow: hidden;

    &--small {
        @include mq($until: medium) {
            overflow: hidden;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            overflow: hidden;
        }
    }

    &--large {
        @include mq($from: large) {
            overflow: hidden;
        }
    }
}


/*------------------------------------*\
    $FONTSTYLES
\*------------------------------------*/
.u-font-bold {
    font-weight: bold;
}

.u-color-red { //needs removing
    color: red;
}

.u-font-size {
    &-default {
        @include font-style(16px, 28px);
    }
}

.u-font-weight {
    &-normal {
        font-weight: normal;
    }
}

.u-font-style {
    &-normal {
        font-style: normal;
    }
}

/*------------------------------------*\
    $TEXT ALIGNMENT
\*------------------------------------*/
.u-align {
    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }
}

/*------------------------------------*\
    $WORD BREAKS
\*------------------------------------*/
.u-word-break {
    &--break-word {
        word-break: break-word;
    }

    &--break-all {
        word-break: break-all;
    }
}


/*------------------------------------*\
    $CONTENT ALIGNMENT
\*------------------------------------*/
.u-vertical-align {
    &--bottom {
        vertical-align: bottom;
    }

    &--middle {
        vertical-align: middle;
    }

    &--text-bottom {
        vertical-align: text-bottom;
    }

    &--text-top {
        vertical-align: text-top;
    }

    &--top {
        vertical-align: top;
    }
}

.u-pull {
    &-left {
        float: left;

        &--small {
            @include mq($until: medium) {
                float: left;
            }
        }

        &--medium {
            @include mq($from: medium, $until: large) {
                float: left;
            }
        }

        &--large {
            @include mq($from: large) {
                float: left;
            }
        }
    }

    &-right {
        float: right;

        &--small {
            @include mq($until: medium) {
                float: right;
            }
        }

        &--medium {
            @include mq($from: medium, $until: large) {
                float: right;
            }
        }

        &--large {
            @include mq($from: large) {
                float: right;
            }
        }
    }
}

/*------------------------------------*\
    $VISIBILITY
\*------------------------------------*/
.u-hidden {
    display: none;

    &--small {
        @include mq($until: medium) {
            display: none;
        }
    }

    &--medium {
        @include mq($from: medium, $until: large) {
            display: none;
        }
    }

    &--large {
        @include mq($from: large) {
            display: none;
        }
    }
}

.u-visibility {
    &-hidden {
        visibility: hidden;

        &--small {
            @include mq($until: medium) {
                visibility: hidden;
            }
        }

        &--medium {
            @include mq($from: medium, $until: large) {
                visibility: hidden;
            }
        }

        &--large {
            @include mq($from: large) {
                visibility: hidden;
            }
        }
    }
}

/*------------------------------------*\
    $POSITION
\*------------------------------------*/
.u-position {
    &-relative {
        position: relative;

        &--small {
            @include mq($until: medium) {
                position: relative;
            }
        }

        &--medium {
            @include mq($from: medium, $until: large) {
                position: relative;
            }
        }

        &--large {
            @include mq($from: large) {
                position: relative;
            }
        }
    }

    &-absolute {
        position: absolute;

        &--small {
            @include mq($until: medium) {
                position: absolute;
            }
        }

        &--medium {
            @include mq($from: medium, $until: large) {
                position: absolute;
            }
        }

        &--large {
            @include mq($from: large) {
                position: absolute;
            }
        }
    }

    &-fixed {
        position: fixed;

        &--small {
            @include mq($until: medium) {
                position: fixed;
            }
        }

        &--medium {
            @include mq($from: medium, $until: large) {
                position: fixed;
            }
        }

        &--large {
            @include mq($from: large) {
                position: fixed;
            }
        }
    }

    &-sticky {
        position: sticky;

        &--small {
            @include mq($until: medium) {
                position: sticky;
            }
        }

        &--medium {
            @include mq($from: medium, $until: large) {
                position: sticky;
            }
        }

        &--large {
            @include mq($from: large) {
                position: sticky;
            }
        }
    }

    &-static {
        position: static;

        &--small {
            @include mq($until: medium) {
                position: static;
            }
        }

        &--medium {
            @include mq($from: medium, $until: large) {
                position: static;
            }
        }

        &--large {
            @include mq($from: large) {
                position: static;
            }
        }
    }
}