﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Intranet Global Trumps - Intranet global variable overrides

    FONT STYLES                 - Contains variables for font types, weights etc.
    FONT SIZE OVERRIDES         - Variables for the font class override styles
    HEADINGS                    - Varaibles for the headings
    CAPTION HEADINGS            - Variables for the caption heading classes
    PARAGRAPHS                  - Variables for the paragraph styles
    DISPLAY                     - Contains variable for display values
    PAGE                        - Page variable overrides
*/

/*------------------------------------*\
    $FONT STYLES
\*------------------------------------*/
$gmc-global-font-family: 'Roboto', sans-serif;
$gmc-intranet-secondary-font-family: quatro-slab, sans-serif;
$gmc-global-normal-font-weight: 400;
$gmc-global-bold-font-weight: 500;

/*------------------------------------*\
    $CAPTION HEADINGS
\*------------------------------------*/
$gmc-caption-heading-font-family: $gmc-intranet-secondary-font-family;

/*------------------------------------*\
    $FONTSIZEOVERRIDES
\*------------------------------------*/
$gmc-font-size-xl-font-size: 40px;
$gmc-font-size-xl-line-height: 50px;

$gmc-font-size-l-font-size: 28px;
$gmc-font-size-l-line-height: 38px;

$gmc-font-size-m-font-size: 22px;

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
$gmc-global-heading-font-family: quatro-slab, sans-serif;

$gmc-global-h1-font-size: 40px;
$gmc-global-h1-mobile-font-size: 34px;
$gmc-global-h1-line-height: 50px;
$gmc-global-h1-mobile-line-height: 44px;

$gmc-global-h2-font-size: 28px;
$gmc-global-h2-mobile-font-size: 24px;
$gmc-global-h2-line-height: 38px;
$gmc-global-h2-mobile-line-height: 34px;

$gmc-global-h3-font-size: 22px;

/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/
$gmc-global-paragraph-lead-font-family: quatro-slab, sans-serif;
$gmc-global-paragraph-lead-font-weight: $gmc-global-bold-font-weight;

/*------------------------------------*\
    $DISPLAY
\*------------------------------------*/
$share-tools-display: none;

/*------------------------------------*\
    $PAGE
\*------------------------------------*/
$gmc-body-display: flex;
