﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    GMC DESIGN SYSTEM COLOURS (INTRANET)  - Intranet colour variables
    GLOBAL TEXT COLOURS                   - Global text colour variables used within Intranet
    GLOBAL HEADINGS                       - Global heading colour variables used within Intranet
    GLOBAL BODY TEXT                      - Global body text colour variable used within Intranet
    GLOBAL LINK COLOURS                   - Global link colour variables used within Intranet
    BUTTONS                               - Colours for button components
    BREADCRUMB                            - Colours for breadcrumb component
    CAPTION HEADINGS                      - Colours for the caption heading utility classes
    HIGHLIGHTEDAREA                       - Colours for highlighted area
    INTRANET EMPLOYEE PRESENCE            - Colours for the intranet employee presence component
    INFOPODCTA                            - InfopodCTA color overrides
    LINKS                                 - Colours for all default link states
    STRIP                                 - Colours for the strip component
    TABLE                                 - Colours for table elements
    WIDEIMAGEPROMO                        - Colours for the wide image promo component
*/

/*------------------------------------*\
    $GMC DESIGN SYSTEM COLOURS (INTRANET)
\*------------------------------------*/
$intranet-black: #1d1d1b;
$intranet-blue: #155884;
$intranet-blue--light: #f1f9fe;
$intranet-blue--mid: #dcf1ff;
$intranet-orange: #f39200;
$intranet-orange--light: #fdefd9;

/*------------------------------------*\
    $GLOBAL TEXT COLOURS
\*------------------------------------*/
$gmc-primary-text-colour: $intranet-black;
$gmc-secondary-text-colour: $intranet-black;

/*------------------------------------*\
    $GLOBAL HEADING COLOURS
\*------------------------------------*/
$gmc-primary-heading-colour: $intranet-blue;

/*------------------------------------*\
    $GLOBAL BODY TEXT COLOUR
\*------------------------------------*/
$gmc-body-text-colour: $gmc-primary-text-colour;

/*------------------------------------*\
    $GLOBAL LINK COLOURS
\*------------------------------------*/
$gmc-primary-link-colour: $intranet-blue;

/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/
$gmc-breadcrumb-text-colour: $intranet-black;
$gmc-breadcrumb-link-colour: $intranet-black;
$gmc-breadcrumb-chevron-colour: $intranet-orange;

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/*
 Primary Button colour variables
*/
$gmc-primary-button-border-colour: $intranet-blue;
$gmc-primary-button-text-hover-colour: $intranet-blue;
$gmc-primary-button-background-colour: $intranet-blue;
$gmc-primary-button-background-hover-colour: $intranet-blue--light;

/*
 Primary White Button colour variables
*/
$gmc-primary-white-button-text-colour: $intranet-blue;
$gmc-primary-white-button-background-hover-colour: $intranet-blue;

/*
 Secondary Button colour variables
*/
$gmc-secondary-button-border-hover-colour: $intranet-blue;
$gmc-secondary-button-text-colour: $intranet-blue;
$gmc-secondary-button-text-hover-colour: $gmc-white;
$gmc-secondary-button-background-hover-colour: $intranet-blue;

/*
 Ghost Button colour variables
*/
$gmc-ghost-button-border-hover-colour: $intranet-blue;
$gmc-ghost-button-text-colour: $intranet-blue;

/*
Strip Button colour variables (Need to remove strip specific button and decide what button variations strip uses instead)
*/
$gmc-strip-primary-button-border-colour: $intranet-blue--light;
$gmc-strip-primary-button-text-colour: $intranet-blue;
$gmc-strip-primary-button-text-hover-colour: $intranet-blue--light;
$gmc-strip-primary-button-background-colour: $intranet-blue--light;
$gmc-strip-primary-button-background-hover-colour: $intranet-blue;
$gmc-strip-primary-button-link-text-colour: $intranet-blue;
$gmc-strip-primary-button-link-text-hover-colour: $intranet-blue--light;

$gmc-strip-secondary-button-border-colour: $intranet-blue--light;
$gmc-strip-secondary-button-background-colour: $intranet-blue--light;
$gmc-strip-secondary-button-background-hover-colour: $intranet-blue;
$gmc-strip-secondary-button-text-colour: $intranet-blue;
$gmc-strip-secondary-button-text-hover-colour: $intranet-blue--light;

/*------------------------------------*\
    $CAPTION HEADINGS
\*------------------------------------*/
$gmc-caption-heading-colour: $intranet-blue;

/*------------------------------------*\
    $HIGHLIGHTEDAREA
\*------------------------------------*/
$gmc-highlightedArea-border-colour: $intranet-orange;
$gmc-highlightedArea-background-colour: $intranet-orange--light;

/*------------------------------------*\
    $INFOPODCTA
\*------------------------------------*/
$gmc-infopodCTA-background-colour: $intranet-blue--light;
$gmc-infopodCTA-heading-colour: $intranet-blue;

/*------------------------------------*\
    $INTRANET EMPLOYEE PRESENCE
\*------------------------------------*/
$intranet-employee-presence-large-employee-image-background-colour: $gmc-white;
$intranet-employee-presence-large-employee-image-border-colour: $gmc-white;
$intranet-employee-presence-small-employee-image-background-colour: $gmc-white;
$intranet-employee-presence-small-employee-image-border-colour: $gmc-white;
$intranet-employee-presence-icon-before-font-colour: $gmc-grey;
$intranet-employee-presence-icon-busy-colour: $gmc-red;
$intranet-employee-presence-icon-offline-colour: $gmc-grey;
$intranet-employee-presence-icon-away-colour: $gmc-amber;
$intranet-employee-presence-icon-online-colour: $gmc-green;
$intranet-employee-presence-icon-out-of-office-colour: #b2008b;

/*------------------------------------*\
    $LINKS 
\*------------------------------------*/
$gmc-link-primary-colour: $intranet-blue;
$gmc-link-primary-visited-colour: $intranet-blue;
$gmc-link-primary-hover-colour: $intranet-blue;
$gmc-link-primary-active-colour: $intranet-blue;
$gmc-link-primary-focus-colour: $intranet-blue;

/*------------------------------------*\
    $STRIP
\*------------------------------------*/
$gmc-primary-strip-background-colour: $intranet-blue;

/*------------------------------------*\
    $TABLES
\*------------------------------------*/
$gmc-table-header-cell-background-colour: $intranet-blue--light;

/*------------------------------------*\
    $WIDEIMAGEPROMO
\*------------------------------------*/
$gmc-wideImagePromo-highlighted-background-colour: $gmc-white;