﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    MPTS Global Trumps - MPTS global variable overrides

    FONTSTYLES              - Font style overrides
    CAPTIONHEADINGS         - Variables for the caption heading classes
    PAGE                    - Page variable overrides
    HEROBUTTON              - Variables for the button inside the header component
    COOKIEBANNER            - Variables for the cookie banner
    ALERT BANNER            - Variables for the alert banner
    USER PROFILE MENU       - Variables for the pop container component
*/

/*------------------------------------*\
    $FONT STYLES
\*------------------------------------*/
$gmc-global-font-family: Lato, sans-serif;
$gmc-global-normal-font-weight: 400;
$gmc-global-bold-font-weight: 500;

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
$gmc-global-heading-font-family: $gmc-global-font-family;
$gmc-global-heading-font-weight: $gmc-global-normal-font-weight;

/*------------------------------------*\
    $CAPTION HEADINGS
\*------------------------------------*/
$gmc-caption-heading-font-weight: $gmc-global-bold-font-weight;

/*------------------------------------*\
    $PAGE
\*------------------------------------*/
$gmc-body-display: flex;

/*------------------------------------*\
    $COOKIE BANNER
\*------------------------------------*/
$gmc-cookieBanner-heading-font-weight: $gmc-global-bold-font-weight;

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
$gmc-header-basic-content-height: 77px;
$gmc-header-basic-logo-padding: $gmc-spacing-4 0;
$gmc-cookieBanner-heading-font-weight: $gmc-global-bold-font-weight;

/*------------------------------------*\
    $USERPROFILEMENU
\*------------------------------------*/
$gmc-userProfileMenu-icon-background-sprite-image: url(../../img/pngs/mpts_css_sprites.png);
$gmc-userProfileMenu-user-name-font-weight: $gmc-global-bold-font-weight;
$gmc-userProfileMenu-popup-top: 87px;
$gmc-userProfileMenu-transparent-overlay-height: calc(100% - 87px);

/*------------------------------------*\
    $ALERT BANNER
\*------------------------------------*/
$gmc-alertBanner-date-font-weight: $gmc-global-bold-font-weight;