﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    GMC DESIGN SYSTEM COLOURS (MPTS)    - MPTS colour variables
    GLOBAL TEXT COLOURS                 - Global text colour variables used within MPTS
    GLOBAL HEADINGS                     - Global heading colour variables used within MPTS
    GLOBAL BODY TEXT                    - Global body text colour variable used within MPTS
    GLOBAL LINK COLOURS                 - Global link colour variables used within MPTS
    BREADCRUMB                          - MPTS colours for breadcrumb component
    BUTTONS                             - MPTS colours for MPTS button components
    DOCUMENTSTATUS                      - MPTS colours for the document status component
    FOOTER                              - MPTS colours for footer
    HEADER                              - MPTS colours for header component
    HIGHLIGHTED AREA                    - MPTS colours for highlighted area
    ALERT BANNER                        - MPTS colours for the information alert banner
    LINK ELEMENTS                       - MPTS colours for all default link element states
    LINK COMPONENT                      - MPTS colours for the link component classes
    MODAL                               - MPTS colours for modal component
    POPUP CONTAINER                     - MPTS colours for the Popup Container component
    STRIP                               - MPTS colours for strip component
    TABLE                               - MPTS colours for table elements
    USER PROFILE MENU                   - MPTS colours for the User Profile Menu component
    WIDEIMAGEPROMO                      - MPTS colours for the wide image promo component
*/

/*------------------------------------*\
    $GMC DESIGN SYSTEM COLOURS (MPTS)
\*------------------------------------*/
$mpts-black: #1d1d1b;
$mpts-blue-grey: #353f53;
$mpts-blue-grey--light: #a8acc0;
$mpts-green: #005c53;
$mpts-green--light: #e6efee;
$mpts-green--mid: #80c7bc;
$mpts-orange: #e69a1d;
$mpts-orange--light: #fdf8ef;

/*------------------------------------*\
    $GLOBAL TEXT COLOURS
\*------------------------------------*/
$gmc-primary-text-colour: $mpts-black;
$gmc-secondary-text-colour: $mpts-black;

/*------------------------------------*\
    $GLOBAL HEADING COLOURS
\*------------------------------------*/
$gmc-primary-heading-colour: $mpts-black;

/*------------------------------------*\
    $GLOBAL BODY TEXT COLOUR
\*------------------------------------*/
$gmc-body-text-colour: $gmc-primary-text-colour;

/*------------------------------------*\
    $GLOBAL LINK COLOURS
\*------------------------------------*/
$gmc-primary-link-colour: $mpts-green;

/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/
$gmc-breadcrumb-text-colour: $gmc-primary-text-colour;
$gmc-breadcrumb-link-colour: $gmc-primary-link-colour;

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/*
 Primary Button colour variables
*/
$gmc-primary-button-border-colour: $mpts-green;
$gmc-primary-button-text-hover-colour: $mpts-green;
$gmc-primary-button-background-colour: $mpts-green;
$gmc-primary-button-background-hover-colour: $gmc-white;

/*
 Primary White Button colour variables
*/
$gmc-primary-white-button-text-colour: $mpts-green;
$gmc-primary-white-button-background-hover-colour: $mpts-green;

/*
 Secondary Button colour variables
*/
$gmc-secondary-button-border-hover-colour: $mpts-green;
$gmc-secondary-button-text-colour: $mpts-green;
$gmc-secondary-button-text-hover-colour: $gmc-white;
$gmc-secondary-button-background-hover-colour: $mpts-green;

/*
 Ghost Button colour variables
*/
$gmc-ghost-button-border-hover-colour: $mpts-green;
$gmc-ghost-button-text-colour: $mpts-green;
$gmc-ghost-button-background-hover-colour: $mpts-orange--light;


/*
Strip Button colour variables (Need to remove strip specific button and decide what button variations strip uses instead)
*/
$gmc-strip-primary-button-border-colour: $gmc-white;
$gmc-strip-primary-button-text-colour: $mpts-green;
$gmc-strip-primary-button-text-hover-colour: $gmc-white;
$gmc-strip-primary-button-background-colour: $gmc-white;
$gmc-strip-primary-button-background-hover-colour: $mpts-green;
$gmc-strip-primary-button-link-text-colour: $mpts-green;
$gmc-strip-primary-button-link-text-hover-colour: $gmc-white;

$gmc-strip-secondary-button-border-colour: $gmc-white;
$gmc-strip-secondary-button-background-colour: $gmc-white;
$gmc-strip-secondary-button-background-hover-colour: $mpts-green;
$gmc-strip-secondary-button-text-colour: $mpts-green;
$gmc-strip-secondary-button-text-hover-colour: $gmc-white;

/*------------------------------------*\
    $DOCUMENTSTATUS
\*------------------------------------*/
$gmc-documentStatus-image-fallback-background-colour: $mpts-green;

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
$gmc-header-basic-border-bottom-colour: $mpts-green;
$gmc-header-basic-border-top-colour: $mpts-green;

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
$gmc-footer-basic-background-colour: $mpts-blue-grey;
$gmc-footer-basic-text-colour: $gmc-grey--light;

/*------------------------------------*\
    $HIGHLIGHTED AREA
\*------------------------------------*/
$gmc-highlightedArea-background-colour: $gmc-grey--extra-light;

/*------------------------------------*\
    $ALERT BANNER
\*------------------------------------*/
$gmc-alertBanner-information-background-colour: $mpts-blue-grey !default;

/*------------------------------------*\
    $LINKS
\*------------------------------------*/
$gmc-link-primary-colour: $gmc-primary-link-colour;
$gmc-link-primary-visited-colour: $gmc-primary-link-colour;
$gmc-link-primary-hover-colour: $gmc-primary-link-colour;
$gmc-link-primary-active-colour: $gmc-primary-link-colour;
$gmc-link-primary-focus-colour: $gmc-primary-link-colour;

/*------------------------------------*\
    $LINK COMPONENT
\*------------------------------------*/
$gmc-linkIcon-alt-text-colour: $mpts-black;
$gmc-linkBlock-background-hover-colour: $mpts-orange--light;

/*------------------------------------*\
    $MODAL
\*------------------------------------*/
$gmc-modal-content-heading-colour: $mpts-green;

/*------------------------------------*\
    $POPUPCONTAINER
\*------------------------------------*/
$gmc-popupContainer-popup-before-icon-colour: $mpts-green;


/*------------------------------------*\
    $STRIP
\*------------------------------------*/
$gmc-strip-dark-background-colour: $mpts-blue-grey;

/*------------------------------------*\
    $TABLES
\*------------------------------------*/
$gmc-table-header-cell-background-colour: $mpts-green--mid;

/*------------------------------------*\
    $USERPROFILEMENU
\*------------------------------------*/
$gmc-userProfileMenu-popup-border-top-colour: $mpts-green;

/*------------------------------------*\
    $WIDEIMAGEPROMO
\*------------------------------------*/
$gmc-wideImagePromo-highlighted-border-hover-colour: $mpts-green;
$gmc-wideImagePromo-highlighted-background-colour: $gmc-grey--extra-light;