@import '../../gmc-design-system/settings/_settings.fonts';

/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    MIXINS  - Contains scss mixins for brand fonts
    FONTS   - Custom fonts used within MPTS
*/

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
@mixin font-primary {
    font-family: $gmc-global-font-family;
    font-weight: 400; //needed for firefox, otherwise font-family gets ignored
}

@mixin font-headings {
    font-family: $gmc-global-font-family;
    font-weight: 400; //needed for firefox, otherwise font-family gets ignored
}
