﻿﻿ /*
    WRAPPER - Stylings for the wrapper class found on the container elements
*/
/*------------------------------------*\
    $WRAPPER
\*------------------------------------*/
.o-wrapper__inner {

    @include mq($until: large) {
        padding: 0 1rem;
    }

    & > div {
        margin: 0 auto;
        max-width: $content-max-width;
    }
}
