@import '../settings/settings.dropdown.scss';

.c-dropdown-container {
  display: flex;
  flex-direction: column;
  font-family:$gmc-dropdown-font;
  font-weight: $gmc-dropdown-font-weight;

  &__select {
    padding: 4px 1rem;
    border: $gmc-dropdown-border;
    border-radius: 4px;
    height: 46px;
    font-size: 16px;
    line-height: 28px;

    &:focus {
      border: $gmc-dropdown-focus-border;
      outline: 0;
      padding: 3px calc(1rem - 1px);
    }
  }

  &__option {
    padding: 4px 1rem;
    height: 46px;
  }

  &--error {
    .c-dropdown-container__select {
      border: $gmc-dropdown-error-border;
      background: $gmc-dropdown-error-background-color;
      color: $gmc-dropdown-error-color;

      &:focus {
        padding: 4px 1rem;
      }
    }

    .c-dropdown-container__option {
      color: $gmc-dropdown-option-color;
    }
  }
}
