/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    PARAGRAPH    - Contains default stylings for the headings within project. Uses mixins found in typography.
    HEADING SIZE VARIABLES      - Contains classes for different heading sizes.
*/

/*------------------------------------*\
    $PARAGRAPH
\*------------------------------------*/
p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    margin: .5rem 0;
}

/*------------------------------------*\
    $PARAGRAPH SIZE CLASSES
\*------------------------------------*/

.lead-paragraph-text {
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 400;
}