/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    HEADINGS    - Contains stylings for the headings within project. Uses mixins found in typography.
    HEADING SIZE CLASSES      - Contains classes for different heading sizes.
*/

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5 {
    @include Headings;
}

h1 {
    font-size: 2.5rem;
    line-height: 3.25rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.375rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

h5 {
    font-size: 1rem;
    line-height: 1.75rem;
}

/*------------------------------------*\
    $HEADING SIZE CLASSES
\*------------------------------------*/

.global-heading-xl {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.625rem;
}

.global-heading-l {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.625rem;
}

.global-heading-m {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem;
}

.global-heading-s {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.global-heading-xs {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
}
