﻿/*------------------------------------*\
    User Details
\*------------------------------------*/
/*
    User Details    - Styles for the user details component
*/


/*------------------------------------*\
    $User Details
\*------------------------------------*/

.c-user-details {
    &__name {
        color: $gmc-userDetails-name-colour;
        @include font-style(18px, 24px);
        font-weight: 500;
        margin-bottom: .625rem;
        word-break: break-word;
    }

    &__email {
        color: $gmc-userDetails-email-colour;
        @include font-style(14px, 20px);
        word-break: break-all;
    }

    &__gmc-reference {
        @include font-style(15px, 23px);
        margin-bottom: .625rem;
    }
}
