﻿/*------------------------------------*\
    HPCB Page elements
\*------------------------------------*/
/*
    MAIN    - Contains stylings for the main element
    HTML    - Contains stylings HTML element
    BODY    - Stylings for the body element
*/

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
html {
    font-family: $gmc-global-font-family;
}

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
header {
    position: fixed;
}
