﻿﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    UL    - Contains stylings for Unordered lists and their child <li> and and any nested <ul> elements
    OL    - Contains stylings for Ordered lists and their child <li> and and any nested <ul> elements
 */
/*------------------------------------*\
    $UL
\*------------------------------------*/
ul {
    line-height: 1.75;

    ul {
        list-style-type: disc;
        padding-left: 1.625rem
    }
}


ol {
    line-height: 1.75;

    ul {
        list-style-type: disc;
        padding-left: 1.625rem
    }

    ol {
        padding-left: 1.625rem
    }
}
