/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    HEADINGS        - Varaibles for the headings
    FONTSTYLING     - Contains variables for font types, weights etc.
    LINE-HEIGHT     - Default settings for line-height
    SPACING         - Spacings for gutters, margins etc.
    PAGE            - Page variable overrides
    LAYOUT          - Dimensions for page layout
    CONTENT         - Contains variables for content
    CUSTOM SCROLL   - Variables for the custom scrollbar
    HEADER          - Variables for header content
    DISPLAY         - Contains variable for display values
    HERO BUTTON     - Variables for the button inside the header component
    RADIOBUTTON     - Variables for the radio button component
    RELATED CONTENT - Variables for the related content component
    ANSWER ICON     - Variables for the answers component
    INFOPODCTA      - Variables for infopodCTA component
    HIGHLIGHTEDAREA - Variables for highlighted area
    STATUS          - Variables for the Status component
    DOCUMENTSTATUS  - Variables for the document status component
    CONTACTPANEL    - Variables for the contact panel component
    LINK            - Variables for the link component
    COOKIE BANNER   - Variables for the cookie banner
    SELECT          - Variables for the select dropdown
    CHECKBOX        - Variables for the checkbox component & list
    TEXTINPUT       - Variables for the textinput component
    BUTTONGROUP     - Variables for the button group component
*/

/*------------------------------------*\
    $FONT STYLES
\*------------------------------------*/
$gmc-global-font-size: 16px !default;
$gmc-global-line-height: 28px !default;

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
$gmc-global-heading-small-font-size: 1.125rem;
$gmc-global-heading-small-line-height: 1.556;
$gmc-global-heading-small-font-weight: 500;

$gmc-global-heading-medium-font-size: 1.5rem;
$gmc-global-heading-medium-line-height: 1.333;
$gmc-global-heading-medium-margin: 0.625rem 0;
$gmc-global-heading-medium-font-weight: 500;

/*------------------------------------*\
    $FONTSTYLING
\*------------------------------------*/
$brand-headings-weight: 700;

/*------------------------------------*\
    $LINEHEIGHT
\*------------------------------------*/
$line-height: inherit;

/*------------------------------------*\
    $SPACING
\*------------------------------------*/
$gutter-vertical-mobile: 1.375rem;

/*------------------------------------*\
    $PAGE
\*------------------------------------*/
$body-display: block;

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

$full-width: 100%;
$content-max-width: 1140px;
$main-padding-top: 0;
$main-padding-right: 0;
$main-padding-bottom: 0;
$main-padding-left: 0;
$owrapper-innerdiv-paddinghack: 0 1rem;

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
$breadcrumb-chevron: '>';
$header-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
$header-height: auto;
$header-width: 100%;
$header-content-height: 5.375rem;
$header-content-margin: 0 auto;
$header-content-max-width: 1140px;
$header-background: $gmc-white;
$header-z-index: 10;

/*------------------------------------*\
    $DISPLAY
\*------------------------------------*/
$share-tools-display: block;

/*------------------------------------*\
    $HERO BUTTON
\*------------------------------------*/
$hero-button-font-weight: $font-weight-heavier;
$hero-h1-padding-top: 0;

/*------------------------------------*\
    $RADIOBUTTON
\*------------------------------------*/
$radio-button-width: 24px;
$radio-button-height: 24px;
$radio-button-inner-width: 16px;
$radio-button-inner-height: 16px;
$radio-button-top: 4px;
$radio-button-left: 4px;

/*------------------------------------*\
    $RELATED CONTENT
\*------------------------------------*/
$relatedContent-heading-weight: 500;
$relatedContent-heading-margin: 0 0 1rem 0;
/*------------------------------------*\
    $CUSTOM SCROLL
\*------------------------------------*/
$custom-scroll-border-radius: 0.625rem;
$custom-scroll-scrollbar-width: 0.4rem;
$custom-scroll-thumb-width: 0.625rem;
$custom-scroll-track-width: 0.625rem;

/*------------------------------------*\
    $ANSWERICON
\*------------------------------------*/
$answer-icon-width: $radio-button-width;
$answer-icon-height: $radio-button-height;
$answer-icon-inner-width: $radio-button-inner-width;
$answer-icon-inner-height: $radio-button-inner-height;
$answer-icon-top: $radio-button-top;
$answer-icon-left: $radio-button-left;

/*------------------------------------*\
    $INFOPODCTA
\*------------------------------------*/
$infopod-cta-border-radius: 4px;
$infopod-cta-border: 1px solid $gmc-grey--mid;
$infopod-cta-display: inline-block;
$infopod-cta-padding: 2rem 1.75rem;
$infopod-cta-width: 100%;
$infopod-cta-heading-font-size: 1.125rem; // These font specific properties will be able to be taken out once our typography is set up
$infopod-cta-heading-margin: 0 0 1.4375rem 0;
$infopod-cta-heading-line-height: 1.75;
$infopod-cta-image-width: 2rem;
$infopod-cta-image-height: 2rem;
$infopod-cta-divider-border-top: 1px solid $gmc-grey--mid;
$infopod-cta-divider-margin: 1.875rem 0 1.4375rem 0;
$infopod-cta-divider-width: 100%;
$infopod-cta-related-content-p-margin: 0;

/*------------------------------------*\
    $HIGHLIGHTEDAREA
\*------------------------------------*/
$c-highlighted-area-padding: 1.5625rem;

/*------------------------------------*\
    $STATUS
\*------------------------------------*/
$status-font-size: 0.75rem;

/*------------------------------------*\
    $DOCUMENTSTATUS
\*------------------------------------*/
$image-fallback-padding-top: 0.25rem;

/*------------------------------------*\
    $CONTACTPANEL
\*------------------------------------*/
$gmc-contactPanel-section-margin-top: 2.5rem;
$gmc-contactPanel-section-margin-right: 1.25rem;
$gmc-contactPanel-section-margin-bottom: 0;
$gmc-contactPanel-section-margin-left: 1.25rem;
$gmc-contactPanel-section-padding-bottom: 1.5rem;
$gmc-contactPanel-header-title-font-size: 1.125rem;
$gmc-contactPanel-header-title-margin: 0;
$gmc-contactPanel-close-icon-font-size: 1.3rem;
$gmc-contactPanel-paragraph-font-size: 0.875rem;
$gmc-contactPanel-paragraph-margin-top: 1rem;
$gmc-contactPanel-section-border-size: 1px;
$gmc-contactPanel-link-support-text-font-size: 0.8125rem;
$gmc-contactPanel-link-margin-top: 1.25rem;

/*------------------------------------*\
    $LINK
\*------------------------------------*/
$gmc-link-text-font-size: 0.9375rem;
$gmc-link-text-margin-left: 0.625rem;

/*------------------------------------*\
    $COOKIE BANNER
\*------------------------------------*/
$gmc-cookieBanner-text-font-size: 0.9375rem;
$gmc-cookieBanner-button-font-weight: 500;
$gmc-cookieBanner-heading-font-size: $gmc-global-heading-small-font-size;
$gmc-cookieBanner-heading-font-weight: 500;
$gmc-cookieBanner-heading-line-height: $gmc-global-heading-small-line-height;

/*------------------------------------*\
    $BUTTON GROUP
\*------------------------------------*/
$gmc-buttonGroup-border: 1px solid;
$gmc-buttonGroup-font-size: 1rem;
$gmc-buttonGroup-border-radius: 0.25rem;
$gmc-buttonGroup-margin-right: 0.5625rem;
$gmc-buttonGroup-padding: 0.5625rem 0.9375rem;
$gmc-buttonGroup-line-height: 1.875rem;
$gmc-buttonGroup-border-hover: 1px solid;
$gmc-buttonGroup-breakline-margin: 1rem;

/*------------------------------------*\
    $SELECT
\*------------------------------------*/
$gmc-dropdown-font: $font-primary;
$gmc-dropdown-font-weight: $font-weight-normal;
$gmc-dropdown-border: 1px solid $gmc-dropdown-border-color;
$gmc-dropdown-focus-border: 2px solid $gmc-dropdown-focus-border-color;
$gmc-dropdown-error-border: 1px solid $gmc-dropdown-error-border-color;

/*------------------------------------*\
    $CHECKBOX
\*------------------------------------*/
$gmc-checkbox-border: 1px solid $gmc-checkbox-border-color;
$gmc-checkbox-font: $font-primary;
$gmc-checkbox-transition: 0.3s ease;
$gmc-checkbox-checked-border: 2px solid $gmc-checkbox-checked-border-color;
$gmc-checkbox-border-hover: 2px solid $gmc-checkbox-border-hover-color;

/*------------------------------------*\
    $TEXTINPUT
\*------------------------------------*/
$gmc-text-input-border: 1px solid  $gmc-text-input-border-color;
$gmc-text-input-focus-border: 2px solid $gmc-text-input-focus-border-color;
$gmc-text-input-error-border: 1px solid $gmc-text-input-error-border-color;


