﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    RADIOGROUP - Styles for the radio group wrapper
    RADIOBUTTON - Styles for the custom radio button container
    HIDDENRADIO - Styles for the input radio button element which is hidden
    CUSTOMRADIO - Styles for the custom radio button created to replace the hidden one
*/

/*------------------------------------*\
    $RADIOGROUP
\*------------------------------------*/
.c-radio-group {
    .c-radio-button {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/*------------------------------------*\
    $RADIOBUTTON - Container
\*------------------------------------*/
.c-radio-button {
    cursor: pointer;
    display: block;
    position: relative;
    -ms-user-select: none;
    user-select: none;

    &__text {
        display: block;
        line-height: 1.75;
        margin-left: 2.5rem;
    }

    &--disabled {
        cursor: not-allowed;
        opacity: .35;

        .c-radio-button__text {
            opacity: .35;
        }
    }
}

/*------------------------------------*\
    $HIDDENRADIO - This is the input element that gets used but hidden
\*------------------------------------*/
.c-radio-button__hidden-radio {
    cursor: pointer;
    height: $radio-button-height;
    opacity: 0;
    position: absolute;
    width: $radio-button-width;

    &:checked ~ .c-radio-button__custom-button {
        background-color: $gmc-radioButton-background-colour;
    }

    &:not(:checked) + .c-radio-button__custom-button:after {
        opacity: 0;
        transform: scale(0);
    }

    &:focus + .c-radio-button__custom-button {
        outline: 2px solid highlight;
    }

    &:checked + .c-radio-button__custom-button:after {
        opacity: 1;
        transform: scale(1);
    }
}

/*------------------------------------*\
    $CUSTOMRADIO - Custom radio button div, uses :after as the second shape
\*------------------------------------*/
.c-radio-button__custom-button {
    background-color: $gmc-radioButton-outer-circle-background-colour;
    border: 1px solid $gmc-radioButton-outer-circle-border-colour;
    box-sizing: content-box;
    border-radius: 50%;
    float: left;
    height: $radio-button-height;
    position: relative;
    width: $radio-button-width;

    &:after {
        background: $gmc-radioButton-inner-circle-colour;
        border-radius: 100%;
        content: "";
        height: $radio-button-inner-height;
        left: $radio-button-left;
        position: absolute;
        top: $radio-button-top;
        transition: all 0.3s ease;
        width: $radio-button-inner-width;
    }
}
