﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    HERO    - Hero strip stylings -  only used for  > HPBC
*/

//-------------------------------------------
// $HERO
//-------------------------------------------

.o-wrapper__inner > div.c-hero {
    // fix until we deal with cross-project .o-wrapper__inner > div: max-width issue
    max-width: 100%;
}

.c-hero {
    background-position: 50% top;
    background-size: auto;
    width: 100%;

    .c-hero__content {
        display: inline-block;
        vertical-align: top;
        width: 430px;

        @include mq($until: large) {
            margin: 0 0 1.55rem;
            width: 100%;
        }

        &--no-media {
            margin-left: 0;
            width: calc(75% - 2rem);
        }

        &--media {
            &.c-hero__content {
                @include mq($until: large) {
                    display: block;
                    padding: 0;
                }
            }
        }

        &--media {
            flex-grow: 100;
            padding-left: 160px;
            padding-top: 0.75rem;

            @include mq($until: large) {
                padding-left: 0;
            }

            img {
                height: auto;
                max-width: 100%;
            }
        }
    }

    .media-youtube {
        position: relative;

        @include mq($until: medium) {
            display: inline-block;
            margin-bottom: 1rem;
        }
    }

    &--homepage {
        min-height: 500px;
    }

    .c-hero__container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;

        @include mq($until: large) {
            display: block;
            width: calc(100vw - 2rem);
        }
    }

    .c-hero__faux-full-width,
    .c-hero__hero-filler-widescreen,
    .c-hero__hero-angle,
    .c-hero__hero-angle-widescreen {
        display: none;
    }
}

// TRUMPS TO OVERRIDE ORIGINAL STYLINGS FROM HYBRID TEMPLATE (in use until the BEM version of the style / markup is used across all brands)

.hero.heroHideBg .container .content {
    width: 431px;

    @include mq($until: large) {
        display: block;
        width: calc(100vw - 2rem);
    }
}
