﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    TRANSPARENT OVERLAY - Styles for the Transparent overlay component
*/

/*------------------------------------*\
    $TRANSPARENT OVERLAY
\*------------------------------------*/

.c-transparent-overlay {
    background-color: $gmc-transparentOverlay-background-colour;
    display: none;
    height: $gmc-transparentOverlay-height;
    left: 0;
    opacity: $gmc-transparentOverlay-opacity;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $gmc-transparentOverlay-zindex;
}