﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Cookie Preferences  - Global cookie preferences styles
*/

/*------------------------------------*\
    $Cookie Preferences
\*------------------------------------*/

.c-cookie-preferences {
    &__button {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
    }

    &__category {
        margin-bottom: 2.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}