﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Intranet Employee Presence - Styles for the employee presence component used in the intranet
*/

/*------------------------------------*\
    $EMPLOYEE PRESENCE
\*------------------------------------*/

.c-employee-presence {
    &--large-employee-image {
        background-color: $intranet-employee-presence-large-employee-image-background-colour;
        border: 2px solid $intranet-employee-presence-large-employee-image-border-colour;
        border-radius: 50%;
        display: inline-block;
        font-size: 0;
        height: 23px;
        left: 53px;
        overflow: hidden;
        position: relative;
        top: -44px;
        width: 23px;

        .c-employee-presence__icon {
            &:before {
                font-size: 22px;
                left: 0px;
                line-height: 22px;
                overflow: hidden;
                position: relative;
                top: -2px;
            }
        }
    }

    &--small-employee-image {
        background-color: $intranet-employee-presence-small-employee-image-background-colour;
        border: 2px solid $intranet-employee-presence-small-employee-image-border-colour;
        border-radius: 50%;
        bottom: 36px;
        @include font-style(22px, 28px);
        height: 22px;
        left: 68px;
        padding: 2px;
        position: absolute;
        text-align: center;
        width: 24px;

        @include mq($from: large) {
            bottom: 41px;
        }

        .c-employee-presence__icon {
            &:before {
                bottom: 7px;
                left: -2px;
                position: relative;


                @include mq($from: large) {
                    bottom: 7px;
                    left: -2px;
                }
            }
        }
    }

    &__icon {
        &:before {
            color: $intranet-employee-presence-icon-before-font-colour;
            content: " ";
            font-family: FontAwesome;
            margin-right: $gmc-spacing-2;
        }
        // Skype API statuses
        &.Busy, &.IdleBusy {
            &:before {
                color: $intranet-employee-presence-icon-busy-colour;
                content: "\f111";
            }
        }

        &.on-the-phone {
            &:before {
                color: $intranet-employee-presence-icon-busy-colour;
                content: "\f111";
            }
        }

        &.in-a-meeting {
            &:before {
                color: $intranet-employee-presence-icon-busy-colour;
                content: "\f111";
            }
        }

        &.in-a-conference {
            &:before {
                color: $intranet-employee-presence-icon-busy-colour;
                content: "\f111";
            }
        }

        &.DoNotDisturb {
            &:before {
                color: $intranet-employee-presence-icon-busy-colour;
                content: "\f056";
            }
        }

        &.Presenting {
            &:before {
                color: $intranet-employee-presence-icon-busy-colour;
                content: "\f056";
            }
        }

        &.Unknown, &.None, &.IdleOnline {
            &:before {
                color: $intranet-employee-presence-icon-offline-colour;
                content: "\f111";
            }
        }

        &.BeRightBack {
            &:before {
                color: $intranet-employee-presence-icon-away-colour;
                content: "\f017";
            }
        }

        &.Away {
            &:before {
                color: $intranet-employee-presence-icon-away-colour;
                content: "\f017";
            }
        }

        &.Away.Off.work {
            &:before {
                color: $intranet-employee-presence-icon-away-colour;
                content: "\f017";
            }
        }

        &.Off.work {
            &:before {
                color: $intranet-employee-presence-icon-away-colour;
                content: "\f017";
            }
        }

        &.Online {
            &:before {
                color: $intranet-employee-presence-icon-online-colour;
                content: "\f058";
            }
        }

        &.Offline {
            &:before {
                color: $intranet-employee-presence-icon-offline-colour;
                content: "\f111";
            }
        }

        &.out-of-office {
            &:before {
                color: $intranet-employee-presence-icon-out-of-office-colour;
                content: "\f190";
            }
        }
        // Employee Profile API Presences
        &--available, &--available-idle {
            &:before {
                color: $intranet-employee-presence-icon-online-colour;
                content: "\f058";
            }

            &-out-of-office {
                &:before {
                    color: $intranet-employee-presence-icon-online-colour;
                    content: "\f05d";
                }
            }
        }

        &--away {
            &:before {
                color: $intranet-employee-presence-icon-away-colour;
                content: "\f017";
            }

            &-out-of-office {
                &:before {
                    color: $intranet-employee-presence-icon-out-of-office-colour;
                    content: "\f190";
                }
            }
        }

        &--be-right-back {
            &:before {
                color: $intranet-employee-presence-icon-away-colour;
                content: "\f017";
            }

            &-out-of-office {
                &:before {
                    color: $intranet-employee-presence-icon-out-of-office-colour;
                    content: "\f190";
                }
            }
        }

        &--busy, &--busy-idle {
            &:before {
                color: $intranet-employee-presence-icon-busy-colour;
                content: "\f111";
            }

            &-out-of-office {
                &:before {
                    color: $intranet-employee-presence-icon-busy-colour;
                    content: "\f10c";
                }
            }
        }

        &--do-not-disturb {
            &:before {
                color: $intranet-employee-presence-icon-busy-colour;
                content: "\f056";
            }

            &-out-of-office {
                &:before {
                    color: $intranet-employee-presence-icon-out-of-office-colour;
                    content: "\f190";
                }
            }
        }

        &--offline {
            &:before {
                color: $intranet-employee-presence-icon-offline-colour;
                content: "\f05c";
            }

            &-out-of-office {
                &:before {
                    color: $intranet-employee-presence-icon-out-of-office-colour;
                    content: "\f190";
                }
            }
        }

        &--unknown {
            &:before {
                color: $intranet-employee-presence-icon-offline-colour;
                content: "\f10c";
            }

            &-out-of-office {
                &:before {
                    color: $intranet-employee-presence-icon-offline-colour;
                    content: "\f10c";
                }
            }
        }
    }
}
