﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Link - styles for the link component
*/

/*------------------------------------*\
    $LINK
\*------------------------------------*/

.c-link {
    &-icon {
        text-decoration: none;

        &:hover {
            text-decoration: none;

            .c-link-icon__text {
                text-decoration: none;
            }
        }

        &--phone-number {
            cursor: default;
            display: inline-block; /* required for pointer events none to work on links in IE11 */
            pointer-events: none;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            @include mq($until: medium) {
                pointer-events: auto;
                cursor: pointer;
            }
        }

        &__icon {
            vertical-align: middle;
        }

        &__image-small {
            height: 16px;
            vertical-align: middle;
            width: 16px;
        }

        &__image {
            height: 32px;
            vertical-align: middle;
            width: 32px;

            &-small {
                height: 18px;
                width: 18px;
            }
        }

        &__text {
            font-size: $gmc-link-text-font-size;
            font-weight: 500;
            line-height: 1.75;
            margin-left: $gmc-link-text-margin-left;
            text-decoration: underline;
            vertical-align: middle;

            &-alt {
                color: $gmc-linkIcon-alt-text-colour;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }

    &--phone-number {
        cursor: default;
        display: inline-block; /* required for pointer events none to work on links in IE11 */
        pointer-events: none;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        @include mq($until: medium) {
            pointer-events: auto;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &--no-underline {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &--editing {
        pointer-events: auto;
    }

    &-block {
        display: block;

        &:hover {
            background-color: $gmc-linkBlock-background-hover-colour;

            .c-link-icon__text {
                text-decoration: underline;
            }
        }
    }
}
