﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    $HIGHLIGHTEDAREA - Styles for highlighted card component
*/

/*------------------------------------*\
    $HIGHLIGHTEDAREA
\*------------------------------------*/
.c-highlighted-area {
    background-color: $gmc-highlightedArea-background-colour;
    border: 1px solid $gmc-highlightedArea-border-colour;
    border-radius: 4px;
    padding: $gmc-highlighted-area-mobile-padding;
    position: relative;

    @include mq($from: large) {
        padding: $gmc-highlighted-area-padding;
    }

    &--secondary {
        background-color: $gmc-highlightedArea-secondary-background-colour;
    }
}
