/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Modal  - Modal component styles
*/

/*------------------------------------*\
    $Modal
\*------------------------------------*/

.c-modal {
    &__overlay {
        background-color: $gmc-modal-overlay-background-colour;
        height: 100%;
        left: 0;
        opacity: .7;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9998;
    }

    &__content {
        background-color: $gmc-modal-content-background-colour;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba($gmc-black, 0.1);
        left: 50vw;
        min-height: auto;
        padding: 2rem;
        position: absolute;
        top: 50vh;
        transform: translate(-50%, -50%);
        width: 60%;
        z-index: 9999;

        &--two-thirds-width {
            width: 66.66%;
        }

        &--half-width {
            width: 50%;
        }

        &--third-width {
            width: 33.33%;
        }

        &--full-width {
            @include mq($from: mobile, $until: tablet) {
                width: 100%;
            }
        }
    }
}
