﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    User Profile Menu - User profile menu styles
*/

/*------------------------------------*\
    $USERPROFILEMENU
\*------------------------------------*/
.c-user-profile-menu {
    align-items: center;
    display: none;
    float: right;
    max-width: 242px;

    @include mq($from: large) {
        display: inline-flex;
    }

    &__left-content {
        line-height: 1.2;
        text-align: right;
    }

    &__name {
        display: block;
        font-size: .9375rem;
        font-weight: $gmc-userProfileMenu-user-name-font-weight;
        max-width: 192px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__signout {
        font-size: .8125rem;
    }

    &__icon {
        background-color: transparent;
        background-image: $gmc-userProfileMenu-icon-background-sprite-image;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        display: block;
        font-size: 2.5rem;
        height: 40px;
        margin-left: .625rem;
        width: 40px;

        &-user {
            background-position: -10px -10px;


            &:hover {
                background-position: -10px -70px;
            }

            &:focus {
                background-position: -10px -70px;
            }
        }

        &-close {
            background-position: -10px -130px;

            &:hover {
                background-position: -10px -190px;
            }

            &:focus {
                background-position: -10px -190px;
            }
        }
    }

    &-popup {
        border-top: 5px solid $gmc-userProfileMenu-popup-border-top-colour;
        bottom: auto;
        box-shadow: none;
        height: auto;
        max-height: calc(100vh - 130px);
        opacity: 0;
        overflow-y: auto;
        position: absolute;
        right: 0;
        transition: none;
        top: $gmc-userProfileMenu-popup-top;
        visibility: hidden;
        width: $gmc-userProfileMenu-popup-width;

        @include mq($from: large) {
            border-radius: 8px;
            box-shadow: $gmc-userProfileMenu-popup-box-shadow;
            opacity: 1;
            visibility: visible;
        }

        &:before {
            display: none;
        }

        &--hide {
            opacity: 0;
            visibility: hidden;
        }

        &__section {
            margin: 1.5625rem 1.5625rem 0 1.5625rem;
            padding-bottom: 1.5625rem;
        }

        &__sections-container {
            overflow-y: hidden;
        }

        &__accounts-heading {
            color: $gmc-userProfileMenu-popup-accounts-heading-text-colour;
            font-size: .8125rem;
            line-height: 2.3077;
        }

        &__link {
            &-container-block {
                left: -1.5625rem;
                width: calc(100% + 3.125rem);
            }

            &-block {
                padding: .313rem 1.5625rem;
            }

            &-text {
                font-size: 1rem;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }

    &__transparent-overlay {
        bottom: 0;
        display: none;
        height: $gmc-userProfileMenu-transparent-overlay-height;
        top: inherit;
        z-index: 210;

        &--show {
            @include mq($from: large) {
                display: block;
            }
        }
    }
}
