﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    iframe  - iframe component styles
*/

/*------------------------------------*\
    $iframe
\*------------------------------------*/


.c-iframe {
   border: none;
   overflow: hidden;
   width: 100%;
}