﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    COPYRIGHT - Small element component for copyright text
*/

/*------------------------------------*\
    $COPYRIGHT
\*------------------------------------*/
.c-copyright {
    color: $gmc-copyright-text-colour;
    font-size: .8125rem;
    line-height: 1.5385;

    @include mq($until: large) {
        display: inline-block;
    }
}