﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Dialogue Message  - Dialogue Message component styles
*/

/*------------------------------------*\
    $Dialogue Message
\*------------------------------------*/


.c-dialogue-message {
    background-color: $gmc-dialogueMessage-background-colour;
    border: 1px solid $gmc-dialogueMessage-border-colour;
    border-radius: 4px;
    padding: $gmc-spacing-3;

    &--error {
        background-color: $gmc-dialogueMessage-error-background-colour;
        border-color: $gmc-dialogueMessage-error-border-colour;
    }

    &--success {
        background-color: $gmc-dialogueMessage-success-background-colour;
        border-color: $gmc-dialogueMessage-success-border-colour;
    }

    &--warning {
        background-color: $gmc-dialogueMessage-warning-background-colour;
        border-color: $gmc-dialogueMessage-warning-border-colour;
    }

    &--small {
        padding: $gmc-spacing-2;

        .c-dialogue-message__icon {
            font-size: 1.4rem;
            margin-right: $gmc-spacing-1;
            margin-top: 0;
        }

        .c-dialogue-message__heading {
            @include font-style(14px);
            font-weight: 400;
        }
    }

    &--sharp-corners {
        border-radius: 0;
    }

    &__content-area {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    &__container {
        display: flex;
        flex-direction: row;

        &--error {
            .c-dialogue-message__icon {
                color: $gmc-dialogueMessage-error-icon-colour;
            }
            /*
                Have had to specifically target the headings below to overwrite legacy heading styles
                Legacy stylesheet is loaded after this one which is why that is happening, can remove
                the below once the legacy stylesheet is no longer used.
            */
            .c-dialogue-message__heading {
                color: $gmc-dialogueMessage-error-heading-text-colour;
            }
        }

        &--information {
            .c-dialogue-message__icon {
                color: $gmc-dialogueMessage-information-icon-colour;
            }
            /*
                Have had to specifically target the headings below to overwrite legacy heading styles
                Legacy stylesheet is loaded after this one which is why that is happening, can remove
                the below once the legacy stylesheet is no longer used.
            */
            .c-dialogue-message__heading {
                color: $gmc-dialogueMessage-information-heading-text-colour;
            }
        }

        &--success {
            .c-dialogue-message__icon {
                color: $gmc-dialogueMessage-success-icon-colour;
            }
            /*
                Have had to specifically target the headings below to overwrite legacy heading styles
                Legacy stylesheet is loaded after this one which is why that is happening, can remove
                the below once the legacy stylesheet is no longer used.
            */
            .c-dialogue-message__heading {
                color: $gmc-dialogueMessage-success-heading-text-colour;
            }
        }

        &--warning {
            .c-dialogue-message__icon {
                color: $gmc-dialogueMessage-warning-icon-colour;
            }
            /*
                Have had to specifically target the headings below to overwrite legacy heading styles
                Legacy stylesheet is loaded after this one which is why that is happening, can remove
                the below once the legacy stylesheet is no longer used.
            */
            .c-dialogue-message__heading {
                color: $gmc-dialogueMessage-warning-heading-text-colour;
            }
        }
    }

    &__icon {
        font-size: 1.5rem;
        margin-right: $gmc-spacing-3;
        margin-top: 2px;
    }

    &__heading {
        align-self: center;
        @include font-style(18px, 28px);
        font-weight: 500;
        margin: 0;
        width: 100%;
    }

    &__information {
        margin-top: $gmc-spacing-3;
        width: 100%;
    }
}