﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    MODAL  - Global Modal styles
*/

/*------------------------------------*\
    $MODAL
\*------------------------------------*/

.c-modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    height: 100%;
    left: 0;
    max-width: none!important; /*Having to use !important to trump specific div selector in legacy landingPage.scss*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000; /*  primary Nav is set to 9999999*/

    &__contents {
        background-color: $gmc-modal-background-colour;
        border-radius: 10px;
        left: 50%;
        padding: $gmc-spacing-mobile-7;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 2rem);

        @include mq($from: medium) {
            padding: $gmc-spacing-7;
            width: 443px;
        }

        &-heading {
            color: $gmc-modal-content-heading-colour;
            @include font-style(24px, 32px);
            font-weight: 500;
            margin-bottom: $gmc-spacing-mobile-6;

            @include mq($from: medium) {
                @include font-style(32px, 42px);
                margin-bottom: $gmc-spacing-6;
            }
        }

        &-cta {
            margin-top: $gmc-spacing-mobile-5;

            @include mq($from: medium) {
                margin-top: $gmc-spacing-5;
            }
        }
    }
}
