﻿/*------------------------------------*\
    CONTENTS    
\*------------------------------------*/
/*
   CLEAR      - Clear styles used for dividers and other layout related elements
   DISPLAY    - Display styles
   MARGIN     - Margin styles
   POSITION   - Position styles
   HEROSTRIP  - Hero strip styles
*/

/*------------------------------------*\
    $CLEAR
\*------------------------------------*/

.clear {
    clear: both;
}

/*------------------------------------*\
    $DISPLAY
\*------------------------------------*/

.--block {
    display: block !important;
}

/*------------------------------------*\
    $MARGIN
\*------------------------------------*/

.--no-top-margin {
    margin-top: 0 !important;
}

/*------------------------------------*\
    $POSITION
\*------------------------------------*/

.--unset {
    position: unset !important;
}


/*------------------------------------*\
    $HEROSTRIP
\*------------------------------------*/

/* 
    We need to hide hero strip images on mobile and remove some padding.
    Unfortunately the styles are currently added via inline styles in the herostrip.cshtml
    and homepageherostrip.cshtml files.
    We need to remove these as part of our refactor work but for now these styles are needed to
    override the inline styles.
*/

.c-hero {
    @include mq($until: medium) {
        background-image: none !important;
        min-height: 0 !important;
        padding-bottom: 0 !important;
    }
}

/* Setting an elements width to zero. Not really a utility because we would want to do 
   this within the component itself. Used when not possible. */

.t-width-0 {
    width: 0;
}

/*------------------------------------*\
    $FONTAWESOME
\*------------------------------------*/

/* Some Font Awesome 4.7 icons are misaligned or have other issues which we may need
    to override */

/* Bars icon seems to have an extra 1px on top which is preventing us from correctly aligning icons with text. */
.fa-bars:before {
    display: block;
    margin-top: -1px;
}

/* Angle double left icon seems to have an extra 1px on top which is preventing us from correctly aligning icons with text. */
.fa-angle-double-left:before {
    display: block;
    margin-top: -1px;
}

/* Trash icon seems to have an extra 2px on top which is preventing us from correctly aligning icons with text. */
.fa-trash:before {
    display: block;
    margin-top: -2px;
}

/* Times icon seems to have an extra 2px on top which is preventing us from correctly aligning icons with text. */
.fa-times:before {
    display: block;
    margin-top: -2px;
}

/* PDF icon seems to have an extra 2px on top which is preventing us from correctly aligning icons with text. */
.fa-file-pdf-o:before {
    display: block;
    margin-top: -2px;
}
