﻿/*------------------------------------*\
    CONTENTS    
\*------------------------------------*/
/*
   Live Person    - Live person override styles
*/

/*------------------------------------*\
    $LIVEPERSON
\*------------------------------------*/
/*
   Card bubble styles
*/
.lp-json-pollock-layout {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* IE fixes */
    .lp-json-pollock-element-text {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.lp-window-root .lp_input_area {
    padding: 10px 0px 11px 0px !important;
}

.lp-window-root a {
    color: #ffb800 !important;

    &:hover {
        text-decoration: none !important;
    }
}

/*
   Listed links styles
*/
.lpc_card__button {
    button {
        padding: .625rem 0 !important;
        text-decoration: underline;

        &:hover {
            background-color: $gmc-livePerson-chat-button-background-hover-colour !important;
            color: $gmc-livePerson-chat-button-hover-colour !important;
            text-decoration: none;
        }
    }
}

/*
   Start button and other pill/chip element styles
*/
.lp-window-root .chips-wrapper .chips-row > .chips-item {
    text-decoration: underline;

    &:hover {
        background-color: $gmc-livePerson-chat-button-background-hover-colour !important;
        color: $gmc-livePerson-chat-button-hover-colour !important;
        text-decoration: none;
    }
}

