﻿/*------------------------------------*\
    Web For Marketers Trump styles
\*------------------------------------*/

.form-group {
    padding: .5rem 0;
}

.btn {
    @include mq($until: medium) {
        float: left;
        width: 100%;
    }

    &.btn-default {
        background-color: $trumps-wffm-btn-default-background-colour;
        border: 2px solid $trumps-wffm-btn-default-border-colour;
        border-radius: 4px;
        color: $trumps-wffm-btn-default-text-colour;
        float: right;
        padding: .5rem 1rem;
        text-decoration: none;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active,
    a:focus {
        color: $trumps-wffm-btn-link-text-colour;
    }

    &:hover,
    &:focus {
        color: $trumps-wffm-btn-text-hover-colour;
        background-color: $trumps-wffm-btn-background-hover-colour;

        a {
            color: $trumps-wffm-btn-text-hover-colour;
        }
    }
}