﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    LINKS_ICONS          - Contains stylings for <a> tags with file type icons.
    LINKS_ICONS_MPTS     - MPTS specific styles, can be replaced with variables when default-rte-styles.css is build through gulp
    LINKS_ICONS_INTRANET - Intranet specific styles, can be replaced with variables when default-rte-styles.css is build through gulp
*/


/*------------------------------------*\
    $LINKS_ICONS 
\*------------------------------------*/
*[class^='o-linkType__'],
*[class*='o-linkType__'] {
    text-decoration: underline;

    &:after {
        display: inline-block;
        font-family: fontAwesome;
        font-size: 1rem;
        line-height: normal;
        padding-left: 0.25rem;
    }
}

.o-linkType__pdf {
    display: inline;

    &:after {
        content: "\f1c1";
    }
}


.o-linkType__powerpoint {
    display: inline;

    &:after {
        content: "\f1c4";
    }
}


.o-linkType__word {
    display: inline;

    &:after {
        content: "\f1c2";
    }
}


.o-linkType__excel {
    display: inline;

    &:after {
        content: "\f1c3";
    }
}

.o-linkType__audio {
    display: inline;

    &:after {
        content: "\f1c7";
    }
}

.o-linkType__external {
    display: inline;

    &:before {
        display: none;
    }

    &:after {
        content: "\f08e";
        display: inline-block;
        font-family: fontAwesome;
        font-size: 1rem;
        line-height: normal;
        vertical-align: text-bottom;
    }
}