﻿﻿ /*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    PADDING STRIPS    - Classes to add padding to empty strips in a view
*/
/*------------------------------------*\
    $PADDING STRIPS 
\*------------------------------------*/

.o-padding-strip-half-rem {
    padding: 0.5rem !important;
}

.o-padding-strip-one-rem {
    padding: 1rem !important;
}

.o-padding-strip-two-rem {
    padding: 2rem !important;
}

.o-padding-strip-three-rem {
    padding: 3rem !important;
}

.o-padding-strip-four-rem {
    padding: 4rem !important;
}
