﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Data Visualisation Strip - Data Visualisation Strip styles
*/

/*------------------------------------*\
    $DATA VISUALISATION STRIP
\*------------------------------------*/

.c-data-vis-strip {
    clear: both;
    max-width: 100% !important; /* Needed. Legacy code in the landingPage.scss file currently overrides this */
    width: 100%;

    &__container {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
    }

    &__cell {
        &:nth-child(2) {
            align-self: center;
        }
    }

    &__left-content {
        padding: $gmc-spacing-6 $gmc-spacing-7 $gmc-spacing-4 $gmc-spacing-8;
        position: relative;
        width: 100%;


        @include mq($from: medium) {
            padding: $gmc-spacing-9 $gmc-spacing-7 $gmc-spacing-4 $gmc-spacing-9;
        }

        @include mq($from: large) {
            padding: $gmc-spacing-9 $gmc-spacing-7 $gmc-spacing-6 $gmc-spacing-9;
            width: calc(100% - 30px);
        }
    }

    &__right-content {
        float: none;
        padding: $gmc-spacing-4 $gmc-spacing-7 $gmc-spacing-4 $gmc-spacing-8;
        width: 100%;

        @include mq($from: small) {
            padding: $gmc-spacing-4 $gmc-spacing-8 $gmc-spacing-4 $gmc-spacing-8;
        }

        @include mq($from: medium) {
            padding: $gmc-spacing-4 $gmc-spacing-7 $gmc-spacing-4 $gmc-spacing-9;
        }

        @include mq($from: large) {
            float: right;
            padding: $gmc-spacing-9 $gmc-spacing-5 $gmc-spacing-6 $gmc-spacing-5;
            width: calc(100% - 30px); /* Full width minus the 30px that makes up the 60px gutter we want between the two sections */
        }
    }

    &__number {
        align-items: center;
        background-color: $gmc-dataVisStrip-number-background-colour;
        border-radius: 50%;
        display: flex;
        height: 40px;
        left: 0px;
        justify-content: center;
        position: absolute;
        top: 22px;
        width: 40px;

        @include mq($from: medium) {
            height: 80px;
            top: 32px;
            width: 80px;
        }

        &-icon {
            height: 18px;
            width: 18px;

            @include mq($from: medium) {
                height: 20px;
                width: 20px;
            }
        }
    }

    &__caption-heading {
        @include caption-heading-l();
        position: relative;
        z-index: 1;
    }

    &__heading {
        @include heading-2($margin: 10px 0 0 0)
    }

    &__link {
        display: inline-block;
        margin-top: $gmc-spacing-4;

        @include mq($from: medium) {
            margin-top: $gmc-spacing-5;
        }

        @include mq($from: large) {
            margin-top: $gmc-spacing-6;
        }
    }
    /* Avalanche component specifc hack */
    .grid__cell {
        padding-left: 0;
    }
}
