﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    TABLE    - Contains stylings for the tables within project.
*/

/*------------------------------------*\
    $TABLE
\*------------------------------------*/

table {
    display: block;
    overflow-x: auto;
    text-align: left;
    width: 100%;

    @include mq($from: medium) {
        display: table;
    }

    th {
        background-color: $gmc-table-header-cell-background-colour;
        border-right: 1px solid #ffffff;
        padding: 0.5rem 1rem;
        font-weight: normal;

        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
    }

    td {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #e6e6e6;

        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
    }
}
