﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    BODY    - Stylings for the body element
    MAIN    - Contains stylings for the main element
*/

/*------------------------------------*\
    $BODY
\*------------------------------------*/
body {
    color: $gmc-body-text-colour;
    display: $gmc-body-display;
    flex-direction: column;
    flex: 1;
    font-family: $gmc-global-font-family;
    font-weight: $gmc-global-normal-font-weight;
    @include font-style($gmc-global-font-size, $gmc-global-line-height);
    min-height: 100vh;

    @media print {
        margin: 7.5mm !important;
    }
}

/*------------------------------------*\
    $MAIN   
\*------------------------------------*/
main {
    flex: 1 0 auto;
    min-height: 1px; // Stops IE flex from breaking
    padding: $main-padding-top $main-padding-right $main-padding-bottom $main-padding-left;
}

/*------------------------------------*\
    $ALL ELEMENTS
\*------------------------------------*/
*:focus {
    @include only-if-hover-supported {
        outline: 3px solid $gmc-amber;
    }
}