﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    TYPOGRAPHY    - Contains styles for the typography elements
*/

/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/
p {
    @include font-style($gmc-global-paragraph-font-size, $gmc-global-paragraph-line-height);
    font-weight: $gmc-global-paragraph-font-weight;
}

.c-richtext {
    margin-bottom: $gmc-spacing-mobile-5;

    @include mq($from: large) {
        margin-bottom: $gmc-spacing-5;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
