﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    HEADINGS    - Contains stylings for the headings within project. Uses mixins found in typography.
*/

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
h1 {
    @include heading-1;
}

h2 {
    @include heading-2;
}

h3 {
    @include heading-3;
}

h4 {
    @include heading-4;
}

h5 {
    @include heading-5;
}

h6 {
    @include heading-6;
}

p, ul, ol, span, img, a, button, hr, .c-richtext {
    + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: $gmc-spacing-5;
    }
}