/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    LINKS    - Contains stylings for the links within project.
*/

/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
    color: $gmc-link-primary-colour;
    text-decoration: underline;

    &:hover {
        color: $gmc-link-primary-hover-colour;
        text-decoration: none;
    }
}