﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Data Visualisation Percentage Bar - Data Visualisation Percentage Bar styles
*/

/*------------------------------------*\
    $DATA VISUALISATION PERCENTAGE BAR
\*------------------------------------*/
@keyframes load {
    0% {
        width: 0;
    }
}

.c-data-vis-percentage-bar {
    @include mq(medium, large) {
        padding: 0 20%;
    }

    &:not(:first-child) {
        margin-top: $gmc-spacing-6;
    }

    &__percentage-container {
        align-items: center;
        background-color: $gmc-dataVisPercentageBar-percentage-container-background-colour;
        border: 1px solid $gmc-dataVisPercentageBar-percentage-container-border-colour;
        border-left: none;
        border-radius: 5px;
        display: flex;
        height: 35px;
        width: 100%;

        &--dark-blue {
            .c-data-vis-percentage-bar__indicator {
                background-image: linear-gradient(.25turn, $gmc-data-vis-dark-blue--light, $gmc-data-vis-dark-blue);
            }

            .c-data-vis-percentage-bar__value {
                color: $gmc-dataVisPercentageBar-value-text-colour;
            }
        }

        &--orange {
            .c-data-vis-percentage-bar__indicator {
                background-image: linear-gradient(.25turn, $gmc-data-vis-orange--light, $gmc-data-vis-orange);
            }

            .c-data-vis-percentage-bar__value {
                color: $gmc-dataVisPercentageBar-value-accessible-orange-fill-text-colour;
            }
        }

        &--purple {
            .c-data-vis-percentage-bar__indicator {
                background-image: linear-gradient(.25turn, $gmc-data-vis-purple--light, $gmc-data-vis-purple);
            }

            .c-data-vis-percentage-bar__value {
                color: $gmc-dataVisPercentageBar-value-text-colour;
            }
        }

        &--turquoise {
            .c-data-vis-percentage-bar__indicator {
                background-image: linear-gradient(.25turn, $gmc-data-vis-turquoise--light, $gmc-data-vis-turquoise);
            }

            .c-data-vis-percentage-bar__value {
                color: $gmc-dataVisPercentageBar-value-text-colour;
            }
        }

        &--complete {
            border-right: none;

            .c-data-vis-percentage-bar__indicator {
                min-width: 52px;
            }
        }

        &--zero {
            .c-data-vis-percentage-bar__indicator {
                min-width: 37px;
            }
        }
    }

    &__indicator {
        align-items: center;
        background-image: linear-gradient(.25turn, $gmc-data-vis-blue--light, $gmc-data-vis-blue);
        border-radius: 5px;
        display: flex;
        height: 35px;
        justify-content: flex-end;
        max-width: 46px;
        min-width: 46px;
        position: relative;
        text-align: right;

        &--animate {
            animation: load 3s normal forwards;
            max-width: 100%;
        }
    }

    &__value {
        color: $gmc-dataVisPercentageBar-value-text-colour;
        @include font-size-xxxs();
        font-weight: 500;
        margin-right: $gmc-spacing-2;
    }

    &__label {
        display: block;
        @include font-size-xxxs();
        margin-top: $gmc-spacing-2;
    }
}
