﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    COOKIEBANNER  - Global cookie banner styles
*/

/*------------------------------------*\
    $COOKIEBANNER
\*------------------------------------*/

.c-cookie-banner {
    background-color: $gmc-cookieBanner-background-colour;
    bottom: 0;
    color: $gmc-cookieBanner-text-colour;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 2000;

    &--visible {
        display: block;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: $gmc-spacing-6;
        margin-left: auto;
        margin-right: auto;
        margin-top: $gmc-spacing-6;
        max-width: calc(1140px + 2rem);
        padding: 0 $gmc-spacing-3;
        position: relative;

        @include mq($until: medium) {
            display: block;
        }

        @include mq($until: $content-max-width) {
            margin-left: $gmc-spacing-5;
            margin-right: $gmc-spacing-5;
        }
    }

    &__left-column {
        flex-shrink: 8;

        @include mq($until: medium) {
            margin-bottom: $gmc-spacing-4;
            width: 100%;
        }
    }

    &__right-column {
        align-items: center;
        display: flex;
        justify-content: flex-start;

        @include mq($until: medium) {
            flex-direction: column;
            width: 100%;
        }
    }

    &__heading {
        @include heading-4($gmc-cookieBanner-text-colour);
    }

    &__text {
        @include font-style(15px, 23px);
        margin-block-start: 0;
        margin-bottom: 0;
        padding-right: $gmc-spacing-3;

        @include mq($until: medium) {
            padding-right: 0;
        }
    }

    &__button {
        flex: 0 0 auto;
    }

    &__link {
        color: $gmc-cookieBanner-link-text-colour;
        font-size: $gmc-cookieBanner-text-font-size;
        margin-left: $gmc-spacing-4;
        white-space: nowrap;

        @include mq($until: medium) {
            margin-left: 0;
            margin-top: $gmc-spacing-3;
        }

        &:hover {
            color: $gmc-cookieBanner-link-text-hover-colour;
        }
    }
}
