﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    TOGGLE SWITCH - Styles for the Toggle Switch component
*/

/*------------------------------------*\
    $TOGGLE SWTICH
\*------------------------------------*/

.c-toggle-switch {
    align-items: center;
    display: flex;
    flex-direction: row;
    /*Fix to override legacy default form styles (can remove once we refactor those)*/
    input[type=checkbox] {
        height: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 0;
    }

    &--disabled {
        .c-toggle-switch__slider {
            opacity: .35;
            pointer-events: none;
        }
    }

    &__hidden-checkbox {
        &:checked + .c-toggle-switch__inner-container .c-toggle-switch__slider {
            background-color: $gmc-toggleSwitch-slider-background-checked-colour;
            border-color: $gmc-toggleSwitch-slider-border-checked-colour;

            .c-toggle-switch__slider-switch {
                background-color: $gmc-toggleSwitch-slider-switch-background-checked-colour;
                left: 24px;

                &:before, &:after {
                    background-color: $gmc-toggleSwitch-slider-switch-before-after-background-checked-colour;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &:focus + .c-toggle-switch__inner-container .c-toggle-switch__slider {
            outline: 2px solid highlight;
        }
    }

    &__inner-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        pointer-events: none;
    }

    &__slider {
        background-color: $gmc-toggleSwitch-slider-background-colour;
        border-radius: 1.25rem;
        cursor: pointer;
        height: 34px;
        border: 2px solid $gmc-toggleSwitch-slider-border-colour;
        display: inline-block;
        pointer-events: auto;
        position: relative;
        transition: all .3s ease;
        transform-origin: 20% center;
        width: 54px;

        &-switch {
            background-color: $gmc-toggleSwitch-slider-switch-background-colour;
            border-radius: 50%;
            left: 4px;
            height: 22px;
            position: absolute;
            transition: .4s ease;
            top: 4px;
            width: 22px;

            &:before, &:after {
                background-color: $gmc-toggleSwitch-slider-switch-before-after-background-colour;
                border-radius: 1px;
                content: '';
                height: 3px;
                opacity: 0;
                position: absolute;
                transition: .4s ease;
                visibility: hidden;
            }

            &:before {
                transform: rotate(-45deg) translate(-1.9px,12px);
                width: 11px;
            }

            &:after {
                transform: rotate(45deg) translate(12px,3.4px);
                width: 4px;
            }
        }
    }

    &__text-container {
        padding-left: 1rem;
    }

    &__short-description {
        font-weight: 700;
    }

    &__on-short-description {
        color: $gmc-toggleSwitch-on-short-description-colour;
    }

    &__on-long-description {
        color: $gmc-toggleSwitch-on-long-description-colour;
    }
}
