﻿.c-numbered-list {
    counter-reset: item;
    list-style: none;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 0;

    @include mq($until: 1140px)
    {
        padding: 0 1rem;
    }

    &__item {
        counter-increment: item;
        margin-bottom: 5px;

        &:before {
            align-items: center;
            background: $gmc-numberedList-background-colour;
            border-radius: 100%;
            color: $gmc-numberedList-text-colour;
            content: counter(item);
            display: inline-flex;
            font-weight: 600;
            height: 40px;
            justify-content: center;
            margin-right: 10px;
            vertical-align: top;
            width: 40px;
        }

        &-container {
            display: inline-block;
            width: calc(95% - 50px);
        }

        &-header {
            font-size: 20px;
            margin-top: .5rem;
            margin-bottom: 1rem;
            font-weight: 600;
        }
    }
}
