﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    BUTTON  - Standard button styles
    STRIP   - Inside strip button styles
*/

/*------------------------------------*\
    $STANDARD
\*------------------------------------*/

.c-button {
    align-items: center;
    background: transparent;
    border: 2px solid $gmc-primary-button-border-colour;
    border-radius: 4px;
    color: $gmc-primary-button-text-colour;
    cursor: pointer;
    display: inline-flex;
    font-weight: 400;
    justify-content: center;
    line-height: 1.375;
    padding: $gmc-spacing-2 $gmc-spacing-3;
    position: relative;
    text-decoration: none;
    user-select: none;

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }

    &:hover,
    &:focus {
        @include only-if-hover-supported {
            background: $gmc-primary-button-background-hover-colour;
            text-decoration: none;
            transition: background-color .2s ease-in, border-color .2s ease-in, color .2s ease-in;
        }
    }

    & + & {
        margin-left: $gmc-spacing-2;
    }

    &__primary {
        background-color: $gmc-primary-button-background-colour;
        border-color: $gmc-primary-button-border-colour;
        color: $gmc-primary-button-text-colour;
        font-weight: 500;

        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
            color: $gmc-primary-button-text-colour;
            text-decoration: none;
        }

        &:hover,
        &:focus {
            @include only-if-hover-supported {
                color: $gmc-primary-button-text-hover-colour;
                background-color: $gmc-primary-button-background-hover-colour;
                text-decoration: none;
            }

            a {
                @include only-if-hover-supported {
                    color: $gmc-primary-button-text-hover-colour;
                }
            }
        }
    }

    &__primary-white {
        background-color: $gmc-primary-white-button-background-colour;
        border-color: $gmc-primary-white-button-border-colour;
        color: $gmc-primary-white-button-text-colour;

        &:hover,
        &:focus {
            @include only-if-hover-supported {
                background-color: $gmc-primary-white-button-background-hover-colour;
                color: $gmc-primary-white-button-text-hover-colour;
            }
        }
    }

    &__secondary {
        background-color: $gmc-secondary-button-background-colour;
        border-color: $gmc-secondary-button-border-colour;
        color: $gmc-secondary-button-text-colour;

        &:hover,
        &:focus {
            @include only-if-hover-supported {
                background-color: $gmc-secondary-button-background-hover-colour;
                border-color: $gmc-secondary-button-border-hover-colour;
                color: $gmc-secondary-button-text-hover-colour;
            }
        }
    }

    &__ghost {
        border: 2px solid transparent;
        color: $gmc-ghost-button-text-colour;

        &:hover,
        &:focus {
            @include only-if-hover-supported {
                background-color: $gmc-ghost-button-background-hover-colour;
                border: 2px solid $gmc-ghost-button-border-hover-colour;
                text-decoration: none;
            }
        }
    }

    &__danger {
        background-color: $gmc-danger-button-background-colour;
        border: 2px solid $gmc-danger-button-border-colour;
        color: $gmc-danger-button-text-colour;
        font-weight: 500;

        &:hover,
        &:focus {
            @include only-if-hover-supported {
                background-color: $gmc-danger-button-background-hover-colour;
                border: 2px solid $gmc-danger-button-border-hover-colour;
                color: $gmc-danger-button-text-hover-colour;
                text-decoration: none;
            }
        }
    }

    &--small {
        @include font-style(14px, 16px);
        padding: $gmc-spacing-2;
        white-space: nowrap;
    }

    &--large {
        line-height: 1.25;
        padding: $gmc-spacing-3;
        white-space: nowrap;
    }

    &--centred {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    &-icon {
        &--right {
            .fa {
                padding-left: $gmc-spacing-2;
            }
        }

        &--left {
            .fa {
                padding-right: $gmc-spacing-2;
            }
        }
    }

    &--disabled {
        cursor: auto;
        opacity: .2;
        pointer-events: none;
    }

    &--full-width {
        width: 100%;

        &-mobile {
            @include mq($until: medium) {
                margin-bottom: $gmc-spacing-3;
                width: 100%;
            }

            &:last-child {
                @include mq($until: medium) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &--mobile-only {
        display: inline-flex;

        @media only screen {
            @include mq($from: medium) {
                display: none;
            }
        }
    }

    &--desktop-only {
        display: none;

        @media only screen {
            @include mq($from: medium) {
                display: inline-flex;
            }
        }
    }
}


/*------------------------------------*\
    $STRIP
\*------------------------------------*/
.c-strip {
    &.c-strip--dark {
        .c-button {
            &__primary {
                background-color: $gmc-strip-primary-button-background-colour;
                border-color: $gmc-strip-primary-button-border-colour;
                color: $gmc-strip-primary-button-text-colour;

                &:hover {
                    background-color: $gmc-strip-primary-button-background-hover-colour;
                    color: $gmc-strip-primary-button-text-hover-colour;
                    text-decoration: none;
                }
            }

            &__secondary {
                background-color: $gmc-strip-secondary-button-background-colour;
                border-color: $gmc-strip-secondary-button-border-colour;
                color: $gmc-strip-secondary-button-text-colour;

                &:hover {
                    background-color: $gmc-strip-secondary-button-background-hover-colour;
                    color: $gmc-strip-secondary-button-text-hover-colour;
                    text-decoration: none;
                }
            }

            &__primary-white {
                color: $gmc-primary-white-button-text-colour;

                &:hover {
                    color: $gmc-primary-white-button-text-hover-colour;
                }
            }
        }
    }
}