/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    u-custom-scroll  - custom scroll bar styles
    Scroll Overrides - override classes for scroll functionality
    fontstyles       - custom font styles
    text alignment   - text alignment helper classes
    visibility       - visibility helper classes
    headings         - custom heading sizes
*/

/*------------------------------------*\
    $CUSTOM SCROLL
\*------------------------------------*/
// .u-custom-scroll {
//   &::-webkit-scrollbar {
//     border-right: none;
//     width: $custom-scroll-scrollbar-width;
//   }

//   &::-webkit-scrollbar-track {
//     border-radius: $custom-scroll-border-radius;
//     width: $custom-scroll-track-width;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: $color-brand-dark;
//     border-radius: $custom-scroll-border-radius;
//     width: $custom-scroll-thumb-width;
//   }

//   &--light {
//     &::-webkit-scrollbar-thumb {
//       background-color: $white;
//     }
//   }

//   &--track {
//     &::-webkit-scrollbar-track {
//       background-color: $grey-mid;
//     }
//   }
// }

/*------------------------------------*\
    $SCROLL OVERRIDES
\*------------------------------------*/
// .u-no-scroll {
//   &--mobile {
//     @include mq($until: tablet) {
//       overflow: hidden;
//     }
//   }
// }

/*------------------------------------*\
    $FONTSTYLES
\*------------------------------------*/
.u-font-bold {
  font-weight: bold;
}

.u-color-red {
  color: red;
}

.u-font-normal {
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
    $TEXTALIGNMENT
\*------------------------------------*/
.u-align {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.u-vertical-align {
  &-middle {
    vertical-align: middle;
  }
}

/*------------------------------------*\
    $VISIBILITY
\*------------------------------------*/
.u-hidden {
  display: none;
}

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
.u-global-heading-s {
  font-size: $gmc-global-heading-small-font-size;
  font-weight: $gmc-global-heading-small-font-weight;
  line-height: $gmc-global-heading-small-line-height;
}

.u-global-headings-m {
  font-size: $gmc-global-heading-medium-font-size;
  font-weight: $gmc-global-heading-medium-font-weight;
  line-height: $gmc-global-heading-medium-line-height;
  margin: $gmc-global-heading-medium-margin;
}
