﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    DIVIDER - Stylings for the divider object to be used in other components
*/

/*------------------------------------*\
    $DIVIDER
\*------------------------------------*/
.c-divider {
    hr {
        background-color: $gmc-primary-divider-colour;
        border: none;
        color: $gmc-primary-divider-colour;
        height: 1px;
        margin: $gmc-spacing-3 0;
    }

    &--left:before, &--right:after {
        background-color: $gmc-primary-divider-colour;
        content: "";
        display: none;
        height: 1.75rem;
        line-height: 1.75rem;
        width: 1px;
        vertical-align: middle;

        @include mq($from: large) {
            display: inline-block;
        }
    }

    &--left {
        @include mq($from: large) {
            padding-left: 0 !important;
        }


        &:before {
            margin-right: 1rem;
        }
    }

    &--right {
        @include mq($from: large) {
            padding-right: 0 !important;
        }


        &:after {
            margin-left: 1rem;
        }
    }
}