﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    Font Style          -   Mixin that converts given pixel values for font-size and line-height to rem
    Headings            -   Heading mixins
    Caption Headings    -   Caption heading mixins
    Paragraph Lead      -   Paragraph lead mixin
    Font sizes          -   Font size mixins
*/

/*------------------------------------*\
    $FONT
\*------------------------------------*/
@function px2rem($px) {
    @return ($px / $gmc-global-font-size);
}


/* Font size and line height mixin */
@mixin font-style($font-size, $line-height: false) {
    font-size: px2rem($font-size) + rem; /* #{$font-size} */
    @if $line-height != false {
        line-height: ($line-height / $font-size); /* #{$line-height} */
    }
}

/*------------------------------------*\
    $Headings
\*------------------------------------*/
@mixin heading($colour: false) {
    @if $colour != false {
        color: $colour;
    }
    @else {
        color: $gmc-primary-heading-colour;
    }

    font-family: $gmc-global-heading-font-family;
    font-weight: $gmc-global-heading-font-weight;
}

@mixin heading-1($colour: false, $margin: $gmc-global-h1-margin, $mobileMargin: $gmc-global-h1-mobile-margin) {
    @include heading($colour);
    @include font-style($gmc-global-h1-mobile-font-size, $gmc-global-h1-mobile-line-height);
    margin: $mobileMargin;

    @include mq($from: medium) {
        @include font-style($gmc-global-h1-font-size, $gmc-global-h1-line-height);
        margin: $margin;
    }
}

@mixin heading-2($colour: false, $margin: $gmc-global-h2-margin) {
    @include heading($colour);
    @include font-style($gmc-global-h2-mobile-font-size, $gmc-global-h2-mobile-line-height);
    margin: $margin;

    @include mq($from: medium) {
        @include font-style($gmc-global-h2-font-size, $gmc-global-h2-line-height);
    }
}

@mixin heading-3($colour: false, $margin: $gmc-global-h3-margin) {
    @include heading($colour);
    @include font-style($gmc-global-h3-mobile-font-size, $gmc-global-h3-mobile-line-height);
    margin: $margin;

    @include mq($from: medium) {
        @include font-style($gmc-global-h3-font-size, $gmc-global-h3-line-height);
    }
}

@mixin heading-4($colour: false, $margin: $gmc-global-h4-margin) {
    @include heading($colour);
    @include font-style($gmc-global-h4-mobile-font-size, $gmc-global-h4-mobile-line-height);
    margin: $margin;

    @include mq($from: medium) {
        @include font-style($gmc-global-h4-font-size, $gmc-global-h4-line-height);
    }
}

@mixin heading-5($colour: false, $margin: $gmc-global-h5-margin) {
    @include heading($colour);
    @include font-style($gmc-global-h5-mobile-font-size, $gmc-global-h5-mobile-line-height);
    margin: $margin;

    @include mq($from: medium) {
        @include font-style($gmc-global-h5-font-size, $gmc-global-h5-line-height);
    }
}

@mixin heading-6($colour: false, $margin: $gmc-global-h6-margin) {
    @include heading($colour);
    @include font-style($gmc-global-h6-mobile-font-size, $gmc-global-h6-mobile-line-height);
    margin: $margin;

    @include mq($from: medium) {
        @include font-style($gmc-global-h6-font-size, $gmc-global-h6-line-height);
    }
}

/* Legacy mixin, do not use */
@mixin Headings {
    font-family: $font-primary;
    font-weight: $brand-headings-weight;
}

/*------------------------------------*\
    $Caption Headings
\*------------------------------------*/

@mixin caption-heading {
    color: $gmc-caption-heading-colour;
    font-family: $gmc-caption-heading-font-family;
    font-weight: $gmc-caption-heading-font-weight;
    margin: 0;
}


@mixin caption-heading-xl {
    @include caption-heading;
    @include caption-heading-l;

    @include mq($from: medium) {
        @include font-style($gmc-caption-heading-extra-large-font-size, $gmc-caption-heading-extra-large-line-height);
    }
}


@mixin caption-heading-l {
    @include caption-heading;
    @include caption-heading-m;

    @include mq($from: medium) {
        @include font-style($gmc-caption-heading-large-font-size, $gmc-caption-heading-large-line-height);
    }
}


@mixin caption-heading-m {
    @include caption-heading;
    @include font-style($gmc-caption-heading-medium-font-size, $gmc-caption-heading-medium-line-height);
}

/*------------------------------------*\
    $Paragraph Lead
\*------------------------------------*/

@mixin paragraph-lead {
    display: block; /* Needed because RTE creates a span within paragraph and assigns the class to that */
    font-family: $gmc-global-paragraph-lead-font-family;
    font-weight: $gmc-global-paragraph-lead-font-weight;
    @include font-style($gmc-global-paragraph-lead-font-size, $gmc-global-paragraph-lead-line-height);
    margin: $gmc-spacing-4 0;
}

/*------------------------------------*\
    $Font Sizes
\*------------------------------------*/

@mixin font-size-xl {
    @include font-style($gmc-font-size-xl-font-size, $gmc-font-size-xl-line-height)
}

@mixin font-size-l {
    @include font-style($gmc-font-size-l-font-size, $gmc-font-size-l-line-height)
}

@mixin font-size-m {
    @include font-style($gmc-font-size-m-font-size, $gmc-font-size-m-line-height)
}

@mixin font-size-s {
    @include font-style($gmc-font-size-s-font-size, $gmc-font-size-s-line-height)
}

@mixin font-size-xs {
    @include font-style($gmc-font-size-xs-font-size, $gmc-font-size-xs-line-height)
}

@mixin font-size-xxs {
    @include font-style($gmc-font-size-xxs-font-size, $gmc-font-size-xxs-line-height)
}

@mixin font-size-xxxs {
    @include font-style($gmc-font-size-xxxs-font-size, $gmc-font-size-xxxs-line-height)
}
