﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    GMC DESIGN SYSTEM COLORS (GMC)   - Global colour variables used within all projects
    GLOBAL TEXT                         - Global text colour variables used within all projects
    GLOBAL HEADINGS                     - Global heading colour variables used within all projects
    GLOBAL BODY TEXT                    - Global body text colour variable used within all projects
    GLOBAL LINKS                        - Global link colour variables used within all projects
    GLOBAL BORDERS                      - Global border colour variables used within all projects
    GLOBAL DIVIDERS                     - Global divider colour variables used within all projects
    GLOBAL OUTLINE                      - Global outline colour variable used within all projects
    GLOBAL STATE                        - Global state colour variables used within all projects
    GLOBAL DATA VISUALISATION           - Global data visualisation colour variables used within all projects
    BUTTONS                             - Colours for button components
    BREADCRUMB                          - Colours for breadcrumb component
    CAPTION HEADINGS                    - Colours for the caption heading utility classes
    CARD                                - Colours for the card component
    CASE STUDY                          - Colours for case study components
    CONTACT PANEL BUTTON                - Colours for the contact panel sticky button
    COOKIE BANNER                       - Colours for the cookie banner component
    COPYRIGHT                           - colours for the copyright component
    CUSTOM SCROLL                       - Colours for custom scroll bar helper classes
    DATA VISUALISATION DOUGHNUT         - Colours for the Data visualisation doughnut component
    DATA VISUALISATION PERCENTAGE BAR   - Colours for the Data visualisation percentage bar component
    DATA VISUALISATION STRIP            - Colours for the Data visualisation strip component
    DOCUMENT STATUS                     - Colours for the document status component
    FOOTER                              - Colours for the footer component
    HEADER                              - Colours for the header component
    HIGHLIGHTED AREA                    - Colours for highlighted area
    IMAGE                               - Colours for the image component
    IMAGELINKPROMO                      - Colours for the image link promo component
    INFOPODCTA                          - Colours for infopodcta
    ALERT BANNER                        - Colours for the information alert banner
    INLINE LIST                         - Colours for the inline list component
    LANGUAGE TOGGLE                     - Colours for language toggle component
    LINK ELEMENTS                       - Colours for all default link element states
    LINK COMPONENT                      - Colours for the link component classes
    LIVEPERSON                          - Colours for live person
    LOADING OVERLAY                     - Colours for the loading overlay component
    MOBILE NAV TOGGLE                   - Colours for the mobile nav toggle button
    MODAL                               - Colours for modal component
    NAVIGATION                          - Colours for the nav component
    NUMBEREDLIST                        - Colours for the numbered list component
    POPCONTAINER                        - Colours for the popup container component
    PROGRESS                            - Colours for progress bar component
    RADIO BUTTON                        - Colours for radio button component
    STRIP                               - Colours for the strip component
    TABLE                               - Colours for table elements
    TOGGLESWITCH                        - Colours for the toggle switch component
    TRANSPARENTOVERLAY                  - Colours for the transparent overlay component
    USERDETAILS                         - Colours for the user details component
    USER PROFILE MENU                   - Colours for the User Profile Menu component
    WIDEIMAGEPROMO                      - Colours for the wide image promo component

    TRUMPS

    WFFM                                - Colours for the WFFM trumps styles

*/

/*------------------------------------*\
    $GMC DESIGN SYSTEM COLORS
\*------------------------------------*/
$gmc-black: #000000 !default;
$gmc-blue: #145885 !default;
$gmc-blue--dark: #34495e !default;
$gmc-blue--light: #f3faff !default;
$gmc-blue--mid: #dcf1ff !default;
$gmc-blue-grey: #f4f7fa !default;
$gmc-orange: #f39200 !default;

/*------------------------------------*\
    $GLOBAL TEXT COLOURS
\*------------------------------------*/
$gmc-primary-text-colour: $gmc-black !default;
$gmc-secondary-text-colour: $gmc-grey--extra-dark !default;

/*------------------------------------*\
    $GLOBAL HEADING COLOURS
\*------------------------------------*/
$gmc-primary-heading-colour: $gmc-black !default;

/*------------------------------------*\
    $GLOBAL BODY TEXT COLOUR
\*------------------------------------*/
$gmc-body-text-colour: $gmc-secondary-text-colour !default;

/*------------------------------------*\
    $GLOBAL BORDER COLOURS
\*------------------------------------*/
$gmc-primary-border-colour: $gmc-grey--light !default;

/*------------------------------------*\
    $GLOBAL DIVIDER COLOURS
\*------------------------------------*/
$gmc-primary-divider-colour: $gmc-grey--light !default;

/*------------------------------------*\
    $GLOBAL LINK COLOURS
\*------------------------------------*/
$gmc-primary-link-colour: $gmc-blue !default;

/*------------------------------------*\
    $GLOBAL OUTLINE COLOUR
\*------------------------------------*/
$gmc-outline-colour: $gmc-amber !default;

/*------------------------------------*\
    $GLOBAL STATE COLOURS
\*------------------------------------*/
/*
 Error state colour variables
*/
$gmc-primary-error-colour: $gmc-red !default;
$gmc-primary-error-background-colour: $gmc-red--light !default;
/*
 Success state colour variables
*/
$gmc-primary-success-colour: $gmc-green !default;
$gmc-primary-success-background-colour: $gmc-green--light !default;
/*
 Warning state colour variables
*/
$gmc-primary-warning-colour: $gmc-amber !default;
$gmc-primary-warning-background-colour: $gmc-amber--light !default;
/*
 Complete state colour variables
*/
$gmc-primary-complete-colour: $gmc-green !default;
$gmc-primary-complete-background-colour: $gmc-green--light !default;

/*
 info
 confirm
 disable
 busy
 idle
 available
 offline
*/


/*------------------------------------*\
    $GLOBAL DATA VISUALISATION COLOURS
\*------------------------------------*/
$gmc-data-vis-blue: #005c99;
$gmc-data-vis-blue--light: rgba(#005c99, .65);
$gmc-data-vis-dark-blue: #152c63;
$gmc-data-vis-dark-blue--light: rgba(#152c63, .65);
$gmc-data-vis-orange: $gmc-orange;
$gmc-data-vis-orange--light: rgba($gmc-orange, .65);
$gmc-data-vis-purple: #802a5f;
$gmc-data-vis-purple--light: rgba(#802a5f, .65);
$gmc-data-vis-turquoise: #196171;
$gmc-data-vis-turquoise--light: rgba(#196171, .65);


/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/
$gmc-breadcrumb-background-colour: $gmc-white !default;
$gmc-breadcrumb-text-colour: $gmc-primary-text-colour !default;
$gmc-breadcrumb-link-colour: $gmc-primary-link-colour !default;
$gmc-breadcrumb-chevron-colour: $gmc-grey--mid !default;

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

/*
 Primary Button colour variables
*/
$gmc-primary-button-border-colour: $gmc-blue !default;
$gmc-primary-button-text-colour: $gmc-white !default;
$gmc-primary-button-text-hover-colour: $gmc-blue !default;
$gmc-primary-button-background-colour: $gmc-blue !default;
$gmc-primary-button-background-hover-colour: $gmc-blue--light !default;


/*
 Primary White Button colour variables
*/
$gmc-primary-white-button-border-colour: $gmc-white !default;
$gmc-primary-white-button-text-colour: $gmc-blue !default;
$gmc-primary-white-button-text-hover-colour: $gmc-white !default;
$gmc-primary-white-button-background-colour: $gmc-white !default;
$gmc-primary-white-button-background-hover-colour: $gmc-blue !default;


/*
 Secondary Button colour variables
*/
$gmc-secondary-button-border-colour: $gmc-primary-border-colour !default;
$gmc-secondary-button-border-hover-colour: $gmc-blue !default;
$gmc-secondary-button-text-colour: $gmc-blue !default;
$gmc-secondary-button-text-hover-colour: $gmc-white !default;
$gmc-secondary-button-background-colour: $gmc-white !default;
$gmc-secondary-button-background-hover-colour: $gmc-blue !default;

/*
 Ghost Button colour variables
*/
$gmc-ghost-button-border-hover-colour: $gmc-blue !default;
$gmc-ghost-button-text-colour: $gmc-blue !default;
$gmc-ghost-button-background-hover-colour: transparent !default;

/*
 Danger Button colour variables
*/
$gmc-danger-button-background-colour: $gmc-red !default;
$gmc-danger-button-background-hover-colour: $gmc-red--light !default;
$gmc-danger-button-border-colour: $gmc-red !default;
$gmc-danger-button-border-hover-colour: $gmc-red !default;
$gmc-danger-button-text-colour: $gmc-white !default;
$gmc-danger-button-text-hover-colour: $gmc-red !default;

/*
Strip Button colour variables (Need to remove strip specific button and decide what button variations strip uses instead)
*/
$gmc-strip-primary-button-border-colour: $gmc-blue--light !default;
$gmc-strip-primary-button-text-colour: $gmc-blue !default;
$gmc-strip-primary-button-text-hover-colour: $gmc-blue--light !default;
$gmc-strip-primary-button-background-colour: $gmc-blue--light !default;
$gmc-strip-primary-button-background-hover-colour: $gmc-blue !default;

$gmc-strip-secondary-button-border-colour: $gmc-blue--light !default;
$gmc-strip-secondary-button-background-colour: $gmc-blue--light !default;
$gmc-strip-secondary-button-text-colour: $gmc-blue !default;
$gmc-strip-secondary-button-background-hover-colour: $gmc-blue !default;
$gmc-strip-secondary-button-text-hover-colour: $gmc-blue--light !default;

/*------------------------------------*\
    $CAPTION HEADINGS
\*------------------------------------*/
$gmc-caption-heading-colour: $gmc-primary-heading-colour !default;

/*------------------------------------*\
    $CARD
\*------------------------------------*/
$gmc-card-border-colour: $gmc-primary-border-colour !default;
$gmc-card-divider-colour: $gmc-primary-divider-colour !default;

/*------------------------------------*\
    $CASE STUDY
\*------------------------------------*/
$gmc-caseStudyAnswers-active-answer-background-colour: $gmc-blue-grey !default;
$gmc-caseStudyAnswers-active-answer-border-colour: $gmc-primary-border-colour !default;
$gmc-caseStudyAnswers-icon-background-colour: $gmc-white !default;
$gmc-caseStudyAnswers-symbol-colour: $gmc-white !default;
$gmc-caseStudyFeedback-score-colour: $gmc-blue !default;
$gmc-caseStudyQuestion-number-text-colour: $gmc-blue !default;
$gmc-caseStudyQuestion-number-background-colour: $gmc-blue--mid !default;
$gmc-caseStudyQuestion-number-border-colour: $gmc-primary-border-colour !default;
$gmc-caseStudyQuestion-buttons-group-border-top-colour: $gmc-primary-border-colour !default;
$gmc-caseStudyReminder-background-colour: $gmc-blue-grey !default;
$gmc-caseStudyReminder-border-colour: $gmc-primary-border-colour !default;
$gmc-caseStudyReview-best-answer-label-link-colour: $gmc-blue !default;
$gmc-caseStudyReview-best-answer-divider-colour: $gmc-primary-divider-colour !default;
$gmc-caseStudyReview-print-heading-colour: $gmc-orange !default;
$gmc-caseStudySummary-background-colour: $gmc-blue-grey !default;
$gmc-caseStudySummary-border-colour: $gmc-primary-border-colour !default;
$gmc-caseStudy-print-heading-colour: $gmc-blue !default;
$gmc-caseStudy-print-subheading-colour: $gmc-blue !default;
$gmc-caseStudy-print-divider-colour: $gmc-orange !default;

/*------------------------------------*\
    $CONTACT PANEL BUTTON
\*------------------------------------*/
$gmc-contactPanelButton-outer-circle-colour: $gmc-orange !default;
$gmc-contactPanelButton-inner-circle-colour: $gmc-blue--dark !default;
$gmc-contactPanelButton-inner-circle-font-colour: $gmc-white !default;

/*------------------------------------*\
    $COOKIE BANNER
\*------------------------------------*/
$gmc-cookieBanner-background-colour: $gmc-blue--dark !default;
$gmc-cookieBanner-text-colour: $gmc-white !default;
$gmc-cookieBanner-link-text-colour: $gmc-white !default;
$gmc-cookieBanner-link-text-hover-colour: $gmc-white !default;

/*------------------------------------*\
    $COOKIE BANNER
\*------------------------------------*/
$gmc-cookieBanner-background-colour: $gmc-blue--dark !default;
$gmc-cookieBanner-text-colour: $gmc-white !default;
$gmc-cookieBanner-button-background-colour: $gmc-white !default;
$gmc-cookieBanner-button-text-colour: $gmc-blue--dark !default;
$gmc-cookieBanner-button-hover-background-colour: $gmc-blue--dark !default;
$gmc-cookieBanner-button-border-colour: $gmc-white !default;
$gmc-cookieBanner-button-text-hover-colour: $gmc-white !default;
$gmc-cookieBanner-link-text-colour: $gmc-white !default;
$gmc-cookieBanner-link-text-hover-colour: $gmc-white !default;

/*------------------------------------*\
    $COPYRIGHT
\*------------------------------------*/
$gmc-copyright-text-colour: $gmc-grey--mid !default;

/*------------------------------------*\
    $CUSTOM SCROLL
\*------------------------------------*/
$gmc-custom-scroll-thumb-background-colour: $gmc-blue !default;
$gmc-custom-scroll-track-background-colour: $gmc-grey--light !default;
$gmc-custom-scroll-light-background-colour: $gmc-white !default;

/*------------------------------------*\
    $DATA VISUALISATION DOUGHNUT
\*------------------------------------*/
$gmc-dataVisDoughnut-ring-stroke-colour: $gmc-white !default;
$gmc-dataVisDoughnut-hole-fill-colour: $gmc-white !default;
$gmc-dataVisDoughnut-text-fill-colour: $gmc-grey--extra-dark !default;

/*------------------------------------*\
    $DATA VISUALISATION PERCENTAGE BAR
\*------------------------------------*/
$gmc-dataVisPercentageBar-percentage-container-background-colour: $gmc-white !default;
$gmc-dataVisPercentageBar-percentage-container-border-colour: $gmc-grey--light !default;
$gmc-dataVisPercentageBar-value-text-colour: $gmc-white !default;
$gmc-dataVisPercentageBar-value-accessible-orange-fill-text-colour: $gmc-black !default;

/*------------------------------------*\
    $DATA VISUALISATION STRIP
\*------------------------------------*/
$gmc-dataVisStrip-number-background-colour: #f8f6fb !default;

/*------------------------------------*\
    $DIALOGUE MESSAGE
\*------------------------------------*/
$gmc-dialogueMessage-background-colour: $gmc-grey--extra-light !default;
$gmc-dialogueMessage-border-colour: $gmc-grey--mid !default;
$gmc-dialogueMessage-error-background-colour: $gmc-red--light !default;
$gmc-dialogueMessage-error-border-colour: $gmc-red !default;
$gmc-dialogueMessage-error-icon-colour: $gmc-red !default;
$gmc-dialogueMessage-error-heading-text-colour: $gmc-red !default;
$gmc-dialogueMessage-success-background-colour: $gmc-green--light !default;
$gmc-dialogueMessage-success-border-colour: $gmc-green !default;
$gmc-dialogueMessage-success-icon-colour: $gmc-green !default;
$gmc-dialogueMessage-success-heading-text-colour: $gmc-green !default;
$gmc-dialogueMessage-warning-background-colour: $gmc-amber--light !default;
$gmc-dialogueMessage-warning-border-colour: $gmc-amber !default;
$gmc-dialogueMessage-warning-icon-colour: $gmc-grey--extra-dark !default;
$gmc-dialogueMessage-warning-heading-text-colour: $gmc-grey--extra-dark !default;
$gmc-dialogueMessage-information-header-text-colour: $gmc-grey--extra-dark !default;
$gmc-dialogueMessage-information-icon-colour: $gmc-blue !default;
$gmc-dialogueMessage-information-heading-text-colour: $gmc-grey--extra-dark !default;

/*------------------------------------*\
    $DOCUMENT STATUS
\*------------------------------------*/
$gmc-documentStatus-image-fallback-background-colour: $gmc-blue !default;
$gmc-documentStatus-image-fallback-text-colour: $gmc-white !default;

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
$gmc-footer-background-colour: $gmc-grey--extra-dark !default;
$gmc-footer-heading-colour: $gmc-white !default;
$gmc-footer-basic-background-colour: $gmc-grey--extra-dark !default;
$gmc-footer-basic-text-colour: $gmc-white !default;

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
$gmc-header-background-colour: $gmc-white !default;
$gmc-header-basic-background-colour: $gmc-white !default;
$gmc-header-basic-border-bottom-colour: $gmc-blue !default;
$gmc-header-basic-border-top-colour: $gmc-blue !default;

/*------------------------------------*\
    $HIGHLIGHTED AREA
\*------------------------------------*/
$gmc-highlightedArea-border-colour: $gmc-grey--light !default;
$gmc-highlightedArea-background-colour: $gmc-blue--light !default;
$gmc-highlightedArea-secondary-background-colour: $gmc-white !default;

/*------------------------------------*\
    $IMAGE
\*------------------------------------*/
$gmc-image-caption-background-colour: $gmc-white !default;

/*------------------------------------*\
    $IMAGE LINK PROMO
\*------------------------------------*/
$gmc-imageLinkPromo-text-colour: $gmc-primary-text-colour !default;
$gmc-imageLinkPromo-content-text-colour: $gmc-primary-text-colour !default;

/*------------------------------------*\
    $INLINE LIST
\*------------------------------------*/
$gmc-inlineList-link-colour: $gmc-white !default;
$gmc-inlineList-link-interaction-colour: $gmc-white !default;
$gmc-inlineList-item-link-colour: $gmc-white !default;
$gmc-inlineList-item-pipe-colour: $gmc-white !default;

/*------------------------------------*\
    $INFO BUBBLE
\*------------------------------------*/
$gmc-infoBubble-trigger-border-colour: $gmc-blue !default;
$gmc-infoBubble-trigger-text-hover-colour: $gmc-blue !default;
$gmc-infoBubble-popup-background-colour: $gmc-blue--dark !default;
$gmc-infoBubble-popup-text-colour: $gmc-white !default;

/*------------------------------------*\
    $INFOPODCTA
\*------------------------------------*/
$gmc-infopodCTA-background-colour: $gmc-blue-grey !default;

/*------------------------------------*\
    $ALERT BANNER
\*------------------------------------*/
$gmc-alertBanner-error-background-colour: $gmc-red !default;
$gmc-alertBanner-error-divider-colour: $gmc-grey--light !default;
$gmc-alertBanner-error-link-colour: $gmc-white !default;
$gmc-alertBanner-error-text-colour: $gmc-white !default;

$gmc-alertBanner-information-background-colour: $gmc-blue--dark !default;
$gmc-alertBanner-information-divider-colour: $gmc-grey--light !default;
$gmc-alertBanner-information-link-colour: $gmc-white !default;
$gmc-alertBanner-information-text-colour: $gmc-white !default;

$gmc-alertBanner-success-background-colour: $gmc-green !default;
$gmc-alertBanner-success-divider-colour: $gmc-grey--light !default;
$gmc-alertBanner-success-link-colour: $gmc-white !default;
$gmc-alertBanner-success-text-colour: $gmc-white !default;

$gmc-alertBanner-warning-background-colour: $gmc-primary-warning-colour !default;
$gmc-alertBanner-warning-divider-colour: $gmc-black !default;
$gmc-alertBanner-warning-link-colour: $gmc-black !default;
$gmc-alertBanner-warning-text-colour: $gmc-black !default;


/*------------------------------------*\
    $LANGUAGE TOGGLE
\*------------------------------------*/
$gmc-languageToggle-chevron-colour: $gmc-grey !default;
$gmc-languageToggle-header-icon-colour: $gmc-grey !default;
$gmc-language-toggle-link-selected-colour: $gmc-blue !default;
$gmc-language-toggle-link-background-hover-colour: $gmc-blue--light !default;


/*------------------------------------*\
    $LINK (Elements)
\*------------------------------------*/
$gmc-link-primary-colour: $gmc-blue !default;
$gmc-link-primary-visited-colour: $gmc-blue !default;
$gmc-link-primary-hover-colour: $gmc-blue !default;
$gmc-link-primary-active-colour: $gmc-blue !default;
$gmc-link-primary-focus-colour: $gmc-blue !default;

/*------------------------------------*\
    $LINK COMPONENT
\*------------------------------------*/
$gmc-linkIcons-primary-colour: $gmc-link-primary-colour !default;
$gmc-linkIcon-alt-text-colour: $gmc-grey--extra-dark !default;
$gmc-linkBlock-background-hover-colour: $gmc-blue-grey !default;

/*------------------------------------*\
    $LIVEPERSON
\*------------------------------------*/
$gmc-livePerson-chat-button-background-hover-colour: $gmc-blue--dark !default;
$gmc-livePerson-chat-button-hover-colour: $gmc-white !default;

/*------------------------------------*\
    $LOADINGOVERLAY
\*------------------------------------*/
$gmc-loadingOverlay-background-colour: $gmc-white !default;

/*------------------------------------*\
    $MOBILE NAV TOGGLE
\*------------------------------------*/
$gmc-mobileNavToggle-colour: $gmc-grey--extra-dark !default;
$gmc-mobileNavToggle-border-colour: $gmc-grey--light !default;

/*------------------------------------*\
    $MODAL
\*------------------------------------*/
$gmc-modal-background-colour: $gmc-white !default;
$gmc-modal-content-heading-colour: $gmc-blue !default;

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
$gmc-primaryNav-link-colour: $gmc-primary-text-colour !default;
$gmc-primaryNav-link-hover-colour: $gmc-secondary-text-colour !default;
$gmc-primaryNav-link-border-top-hover-colour: $gmc-blue !default; // main brand colour so the purple for hpcb and so forth
$gmc-primaryNav-chevron-colour: $gmc-grey--extra-dark !default;
$gmc-primaryNav-toggle-icon-colour: $gmc-blue !default; // main brand colour so the purple for hpcb and so forthv
$gmc-primaryNav-link-open-border-bottom-colour: $gmc-blue !default; // main brand colour so the purple for hpcb and so forth
$gmc-primaryNav-mobile-background-colour: $gmc-white !default;
$gmc-secondaryNav-desktop-link-colour: $gmc-secondary-text-colour !default;
$gmc-secondaryNav-dropdown-shadow: rgba(97,98,120,0.33) !default;
$gmc-secondaryNav-list-mobile-background-colour: $gmc-grey--extra-light !default;
$gmc-secondaryNav-list-desktop-background-colour: $gmc-white !default;
$gmc-secondaryNav-desktop-border-top-colour: $gmc-blue !default; // main brand colour so the purple for hpcb and so forth
$gmc-secondaryNav-link-background-colour: $gmc-white !default;
$gmc-secondaryNav-link-hover-colour: $gmc-blue !default; // main brand colour so the purple for hpcb and so forth
$gmc-nav-mobile-border-separator-colour: $gmc-primary-divider-colour !default;

/*------------------------------------*\
    $NUMBEREDLIST
\*------------------------------------*/
$gmc-numberedList-background-colour: $gmc-blue--mid !default;
$gmc-numberedList-text-colour: $gmc-blue !default;

/*------------------------------------*\
    $POPUPCONTAINER
\*------------------------------------*/
$gmc-popupContainer-background-colour: $gmc-white;
$gmc-popupContainer-close-icon-colour: $gmc-white !default;
$gmc-popupContainer-header-background-colour: $gmc-blue--dark !default;
$gmc-popupContainer-popup-before-icon-colour: $gmc-blue !default;
$gmc-popupContainer-header-border-bottom-colour: $gmc-orange !default;
$gmc-popupContainer-section-border-bottom-colour: $gmc-primary-border-colour !default;
$gmc-popupContainer-header-title-colour: $gmc-white !default;
$gmc-popupContainer-support-text-colour: $gmc-primary-text-colour !default;

/*------------------------------------*\
    $PROGRESS
\*------------------------------------*/
$gmc-progress-percentage-text-colour: $gmc-blue !default;
$gmc-progress-percentage-text-complete-colour: $gmc-primary-complete-colour !default;
$gmc-progress-bar-colour: $gmc-blue--mid !default;
$gmc-progress-value-colour: $gmc-blue !default;
$gmc-progress-value-complete-colour: $gmc-primary-complete-colour !default;

/*------------------------------------*\
    $RADIO BUTTON
\*------------------------------------*/
$gmc-radioButton-background-colour: $gmc-white !default;
$gmc-radioButton-outer-circle-background-colour: $gmc-white !default;
$gmc-radioButton-outer-circle-border-colour: $gmc-blue !default;
$gmc-radioButton-inner-circle-colour: $gmc-blue !default;

/*------------------------------------*\
    $SIDEMENU
\*------------------------------------*/
$gmc-sideMenu-nav-mobile-border-colour: $gmc-grey--light !default;
$gmc-sideMenu-nav-link-colour: $gmc-blue !default;
$gmc-sideMenu-nav-link-mobile-colour: $gmc-grey--extra-dark !default;
$gmc-sideMenu-nav-link-mobile-hover-colour: $gmc-grey--extra-dark !default;
$gmc-sideMenu-nav-link-background-hover-colour: $gmc-grey--extra-light !default;
$gmc-sideMenu-nav-link-background-focus-colour: $gmc-grey--extra-light !default;
$gmc-sideMenu-nav-link-background-active-colour: $gmc-blue--light !default;
$gmc-sideMenu-nav-link-background-active-hover-colour: $gmc-blue--light !default;
$gmc-sideMenu-nav-link-background-active-focus-colour: $gmc-blue--light !default;
$gmc-sideMenu-nav-link-border-left-colour: $gmc-white !default;
$gmc-sideMenu-nav-link-border-left-hover-colour: $gmc-grey--extra-light !default;
$gmc-sideMenu-nav-link-border-left-focus-colour: $gmc-grey--extra-light !default;
$gmc-sideMenu-nav-link-border-left-active-colour: $gmc-blue !default;
$gmc-sideMenu-nav-link-border-left-active-hover-colour: $gmc-blue !default;
$gmc-sideMenu-nav-link-border-left-active-focus-colour: $gmc-blue !default;
$gmc-sideMenu-nav-link-mobile-border-bottom-colour: $gmc-grey--light !default;
$gmc-sideMenu-nav-item-mobile-border-bottom-colour: $gmc-grey--light !default;
$gmc-sideMenu-dropdown-menu-background-colour: $gmc-white !default;
$gmc-sideMenu-dropdown-menu-mobile-background-colour: $gmc-blue--light !default;
$gmc-sideMenu-dropdown-item-mobile-border-bottom-colour: $gmc-grey--light !default;
$gmc-sideMenu-dropdown-item-mobile-border-top-colour: $gmc-grey--light !default;
$gmc-sideMenu-dropdown-link-border-left-colour: $gmc-white !default;
$gmc-sideMenu-dropdown-link-colour: $gmc-grey--extra-dark !default;
$gmc-sideMenu-dropdown-link-hover-colour: $gmc-grey--extra-dark !default;
$gmc-sideMenu-dropdown-link-focus-colour: $gmc-grey--extra-dark !default;
$gmc-sideMenu-dropdown-link-background-hover-colour: $gmc-grey--extra-light !default;
$gmc-sideMenu-dropdown-link-background-focus-colour: $gmc-grey--extra-light !default;
$gmc-sideMenu-dropdown-link-background-active-colour: $gmc-blue--light !default;
$gmc-sideMenu-dropdown-link-background-active-hover-colour: $gmc-blue--light !default;
$gmc-sideMenu-dropdown-link-background-active-focus-colour: $gmc-blue--light !default;
$gmc-sideMenu-dropdown-link-border-left-hover-colour: $gmc-grey--extra-light !default;
$gmc-sideMenu-dropdown-link-border-left-focus-colour: $gmc-grey--extra-light !default;
$gmc-sideMenu-dropdown-link-border-left-active-colour: $gmc-blue !default;
$gmc-sideMenu-dropdown-link-border-left-active-hover-colour: $gmc-blue !default;
$gmc-sideMenu-dropdown-link-border-left-active-focus-colour: $gmc-blue !default;
$gmc-sideMenu-back-link-background-colour: $gmc-blue--light !default;
$gmc-sideMenu-back-link-colour: $gmc-blue !default;

/*------------------------------------*\
    $STRIP
\*------------------------------------*/
$gmc-strip-dark-colour: $gmc-white !default;
$gmc-strip-dark-link-colour: $gmc-white !default;
$gmc-strip-dark-background-colour: $gmc-blue !default;
$gmc-strip-light-background-colour: $gmc-grey--extra-light !default;

/*------------------------------------*\
    $TABLES
\*------------------------------------*/
$gmc-table-header-cell-background-colour: $gmc-blue--mid !default;

/*------------------------------------*\
    $TOGGLESWITCH
\*------------------------------------*/
$gmc-toggleSwitch-on-short-description-colour: $gmc-green--dark !default;
$gmc-toggleSwitch-on-long-description-colour: $gmc-green--dark !default;
$gmc-toggleSwitch-slider-background-colour: $gmc-white !default;
$gmc-toggleSwitch-slider-border-colour: $gmc-grey !default;
$gmc-toggleSwitch-slider-background-checked-colour: $gmc-green !default;
$gmc-toggleSwitch-slider-border-checked-colour: $gmc-green !default;
$gmc-toggleSwitch-slider-switch-background-colour: $gmc-grey !default;
$gmc-toggleSwitch-slider-switch-background-checked-colour: $gmc-white !default;
$gmc-toggleSwitch-slider-switch-before-after-background-colour: $gmc-grey !default;
$gmc-toggleSwitch-slider-switch-before-after-background-checked-colour: $gmc-green !default;

/*------------------------------------*\
    $TRANSPARENTOVERLAY
\*------------------------------------*/
$gmc-transparentOverlay-background-colour: $gmc-black !default;

/*------------------------------------*\
    $USERDETAILS
\*------------------------------------*/
$gmc-userDetails-name-colour: $gmc-secondary-text-colour !default;
$gmc-userDetails-email-colour: $gmc-grey--dark !default;
$gmc-userDetails-gmcReference-colour: $gmc-grey--extra-dark !default;

/*------------------------------------*\
    $USERPROFILEMENU
\*------------------------------------*/
$gmc-userProfileMenu-popup-before-icon-colour: $gmc-blue !default;
$gmc-userProfileMenu-popup-border-top-colour: $gmc-blue !default;
$gmc-userProfileMenu-popup-accounts-heading-text-colour: $gmc-grey--dark !default;


/*------------------------------------*\
    $WFFM
\*------------------------------------*/
$trumps-wffm-btn-default-background-colour: $gmc-primary-button-background-colour !default;
$trumps-wffm-btn-default-border-colour: $gmc-primary-button-border-colour !default;
$trumps-wffm-btn-default-text-colour: $gmc-primary-button-text-colour !default;
$trumps-wffm-btn-link-text-colour: $gmc-white !default;
$trumps-wffm-btn-background-hover-colour: $gmc-primary-button-background-hover-colour !default;
$trumps-wffm-btn-text-hover-colour: $gmc-primary-button-text-hover-colour !default;

/*------------------------------------*\
    $WIDE IMAGE PROMO
\*------------------------------------*/
$gmc-wideImagePromo-border-bottom-colour: $gmc-primary-border-colour !default;
$gmc-wideImagePromo-highlighted-border-hover-colour: $gmc-blue !default;
$gmc-wideImagePromo-highlighted-border-colour: $gmc-primary-border-colour !default;
$gmc-wideImagePromo-text-colour: $gmc-body-text-colour !default;
$gmc-wideImagePromo-title-text-colour: $gmc-primary-link-colour !default;
$gmc-wideImagePromo-highlighted-background-colour: $gmc-blue--light !default;
$gmc-wideImagePromo-strip-title-text-colour: $gmc-white !default;
$gmc-wideImagePromo-strip-link-colour: $gmc-white !default;