﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    GMC DESIGN SYSTEM COLORS (GLOBAL)   - Global colour variables used within all projects
*/

/*------------------------------------*\
    $GLOBAL DESIGN SYSTEM COLORS
\*------------------------------------*/
$gmc-green: #258325 !default;
$gmc-green--dark: #236420 !default;
$gmc-green--light: #f7fff7 !default;
$gmc-grey: #919191 !default;
$gmc-grey--light: #e6e6e6 !default;
$gmc-grey--mid: #c2c2c2 !default;
$gmc-grey--extra-light: #f8f8f8 !default;
$gmc-grey--extra-dark: #4a4a4a !default;
$gmc-grey--dark: #757575 !default;
$gmc-white: #ffffff !default;
$gmc-green: #258325 !default;
$gmc-green--dark: #236420 !default;
$gmc-green--light: #f7fff7 !default;
$gmc-amber: #ffB800 !default;
$gmc-amber--light: #fffcf0 !default;
$gmc-red: #a71627 !default;
$gmc-red--light: #fff9fA !default;