﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    BREAKPOINTS - Variables for websites media query breakpoints
*/

/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
$mq-breakpoints: ( 
    xsmall: 0px,
    small: 576px,
    medium: 767px, 
    large: 1024px, 
    xlarge: 1200px,
    xxlarge: 1440px 
);
