﻿/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
    POPUPCONTAINER - Styles for the contact panel component
*/

/*------------------------------------*\
    $POPUPCONTAINER
\*------------------------------------*/


.c-popup-container {
    background-color: $gmc-popupContainer-background-colour;
    border-radius: 0;
    bottom: $gmc-popupContainer-position-bottom;
    box-shadow: none;
    height: 100vh;
    max-height: 100vh;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition-property: none;
    visibility: visible;
    width: 100%;
    z-index: 1000000;

    &:focus {
        outline: none;
    }


    @include mq($from: medium) {
        border-radius: 10px;
        box-shadow: $gmc-popupContainer-box-shadow;
        height: $gmc-popupContainer-height;
        right: $gmc-popupContainer-position-right;
        top: $gmc-popupContainer-position-top;
        transition-property: bottom, opacity, visibility;
        transition-duration: 600ms;
        width: $gmc-popupContainer-width;
        z-index: 1910;
    }

    &:before {
        border: solid transparent;
        border-bottom-color: $gmc-popupContainer-popup-before-icon-colour;
        border-width: 0 9px 9px 9px;
        content: " ";
        height: 0;
        right: $gmc-popupContainer-before-icon-right;
        top: $gmc-popupContainer-before-icon-top;
        pointer-events: none;
        position: absolute;
        width: 0;
    }

    &__close-icon {
        color: $gmc-popupContainer-close-icon-colour;
        cursor: pointer;
        position: absolute;
        right: .8rem;
        top: 1.1rem;

        &::before {
            font-size: $gmc-popupContainer-close-icon-font-size;
        }
    }

    &__header {
        background-color: $gmc-popupContainer-header-background-colour;
        border-bottom: solid 3px $gmc-popupContainer-header-border-bottom-colour;
        border-radius: 0;
        height: 56px;
        margin-top: 0;
        padding-left: 1.25rem;
        padding-top: .7125rem;

        @include mq($from: medium) {
            border-radius: 10px 10px 0 0;
        }

        &-title {
            color: $gmc-popupContainer-header-title-colour;
            font-weight: 500;
            font-size: $gmc-popupContainer-header-title-font-size;
            line-height: 1.875;
            margin: $gmc-popupContainer-header-title-margin;
        }
    }

    &__sections-container {
        height: calc(100% - (56px + .4rem)); //Height of the parent container - (height of header + random value)
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__section {
        margin: $gmc-popupContainer-section-margin-top $gmc-popupContainer-section-margin-right $gmc-popupContainer-section-margin-bottom $gmc-popupContainer-section-margin-left;
        padding-bottom: $gmc-popupContainer-section-padding-bottom;

        &:not(:last-child) {
            border-bottom: $gmc-popupContainer-section-border-size solid $gmc-popupContainer-section-border-bottom-colour;
        }
    }

    &__heading {
        font-weight: 500;
    }

    &__paragraph {
        font-size: $gmc-popupContainer-paragraph-font-size;
        line-height: 1.71;
        margin-top: $gmc-popupContainer-paragraph-margin-top;
    }

    &__link {
        &-container {
            display: block;
            margin-top: $gmc-popupContainer-link-margin-top;


            &-block {
                left: -1.25rem;
                margin-top: .625rem;
                position: relative;
                width: calc(100% + 2.5rem);
            }
        }

        &-block {
            padding: .313rem 1.25rem;
        }

        &-support-text {
            color: $gmc-popupContainer-support-text-colour;
            font-size: $gmc-popupContainer-link-support-text-font-size;
            text-decoration: none;
        }
    }
}
